<div class="row">
  <div class="col-lg-12">
    <!-- <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header"> </div>
      <div class="modal-body">
          <b>Do You Want To {{modalBodyContent}}?</b>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success btn-md btn-tall btn-wide"
              (click)="c();closeModal()">Yes</button>
          <button type="button" class="btn btn-danger btn-md btn-tall btn-wide" (click)="c()">No</button>
      </div>
  </ng-template> -->
    <app-card cardClass="card-datatable" cardTitle="TOTAL PENALTY AMOUNT YET TO BE ADJUSTED :{{sums.toFixed(2)}}"
      [options]="false">
      <button type="button" class="btn btn-danger float-right" style="margin-top: -50px;z-index: 50;margin-right: 10px;"
        (click)="update()">Adjust</button>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="form-group">
              <label style="margin-top: 30px; margin-left: 20px;font-size: 15px;"><strong>TOTAL PENALTY AMOUNT:
                  {{sums.toFixed(2)}}</strong></label><br>
              <label><strong><span style="margin-left: 78px;font-size: 15px;white-space: pre-line;text-align: center;">(excluding SST)</span></strong></label>
                <!-- <div class="row justify-content-center">
                  (excl. SST)
                </div> -->
          </div>
          
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th></th>
              <th>#</th>
              <th> INVOICE TYPE</th>
              <th> CLINIC TYPE </th>
              <!-- <th> MONTH </th> -->
              <th> INVOICE NUMBER </th>
              <th> OUTSTANDING AMOUNT </th>
              <th> RETENTION AMOUNT </th>
              <th> PENALTY ADJUSTING NOW </th>
              <!-- <th> Action </th> -->

            </tr>
          </thead>
          <tbody *ngIf="loading">
            <tr>
              <td colspan="9">
                <div class="d-flex justify-content-center">
                  <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="spinner-grow text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!loading">
            <tr *ngFor="let data of filterDatas;let i = index ">
              <td> <input type="checkbox" (change)="onTick(data.id,$event,data )" value="{{data.enableListData}}"> </td>
              <td>
                {{i+1}}
              </td>
              <td>
                {{data.invoiceTypeName}}
              </td>

              <td>{{data.clinicTypeCode}}</td>
              <!-- <td>{{data.month}}</td> -->
              <td>{{data.invoiceNo}}</td>
              <td style="text-align: right;"> {{data.outstandingAmount|number:'1.2-2'}} </td>
              <td style="text-align: right;"> {{data.netRetentionAmount|number:'1.2-2'}} </td>
              <td>
                <input type="number" class="form-control" (input)="amountFunc($event, data.id)"
                  (change)="amountFunc1($event, data.id)" value="{{data.amountReceived}}"
                  [disabled]="data.disableCollectionAmount"  (keydown.arrowup)="false" (keydown.arrowdown)="false"
                  (keydown)="$event.keyCode !== 69 && $event.keyCode !== 189 && $event.keyCode !== 187 && $event.keyCode !== 107 && $event.keyCode !== 109"/>
              </td>
              <!-- <td>
                      <button class="btn btn-success btn-md" [disabled]="disableCreate"
                      (click)="update(data)"> Update
                      (click)="openModal(content,'Create',data)"
                  </button> &nbsp;&nbsp;
                    </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
<style>
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}
</style>