<div class="row">
    <div class="col-lg-12">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- <h4 class="modal-title" id="modal-basic-title">Hi there!</h4> -->
                <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button> -->
            </div>
            <div class="modal-body">
                <b>Do You Want To {{modalBodyContent}}?</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-md btn-tall btn-wide"
                    (click)="c();closeModal()">Yes</button>
                <button type="button" class="btn btn-danger btn-md btn-tall btn-wide" (click)="c()">No</button>
            </div>
        </ng-template>
        <app-card cardClass="card-datatable" [options]="false">
            <div>
                <div *ngIf="loading">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="!loading">

                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <tr>
                                    <td><b> CREATION OF RENTAL CHARGES </b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <table style="width: 100%;
                    border: 2px solid black;
                    padding: 6px;">
                                <tr>
                                    <td style="text-align: left;border-right: white;border-bottom: white;">
                                        <b>{{clinicTypeCode == 'PKD' || clinicTypeCode == 'PPD'? 'PKD / PPD': 'PKB / PPB'}}</b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-bottom: white;">
                                        {{clinicTypeCode}} - {{districtName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="text-align: left;border-right: white;border-top: white;border-bottom: white;">
                                        <b>ADDRESS </b>
                                    </td>
                                    <td
                                        style="border-left: white;border-right: white;border-top: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td
                                        style="text-align: start;border-left: white;border-top: white;border-bottom: white;">
                                        {{districtAddress}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;border-right: white;border-top: white;">
                                        <b>MONTH/YEAR </b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-top: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-top: white;">
                                        {{monthYear}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-3">
                            <br>
                        </div>
                        <div class="col-lg-3">
                            <b>FORM FIN 03-A</b>
                            <table style="width: 100%;
                    border: 2px solid black;
                    padding: 6px;">
                                <tr>
                                    <td style="text-align: left;"><b>DOC REF:</b></td>
                                    <td style="text-align: right;"><b>{{docRef}}</b></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;"><b>DATE:</b></td>
                                    <td style="text-align: right;"><b>{{date}}</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <tr>
                                    <th colspan="2"> CLINIC DETAILS</th>
                                    <th colspan="2"> NEW BIOMEDICAL EQUIPMENT</th>
                                </tr>
                                <tr>
                                    <th>CLINIC NAME </th>
                                    <th> CLINIC CODE </th>
                                    <th> No. of New BE (Units) </th>
                                    <th> RENTAL CHARGES (RM) </th>
                                </tr>
                                <tr *ngFor="let data of clinicDatas">
                                    <td style="text-align: left;"> {{data.clinicName}} </td>
                                    <td> {{data.clinicCode}} </td>
                                    <td> {{data.totalEquipmentCount}} </td>
                                    <td style="text-align: right;"> {{data.totalRentalCharge|number:'1.2-2'}} </td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td style="text-align: left;"> TOTAL AMOUNT PAYABLE </td>
                                    <td></td>
                                    <td>{{equipmentTotalCount}}</td>
                                    <td style="text-align: right;">{{equipmentTotalValue|number:'1.2-2'}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div *ngIf="enabler">
                        <div class="alert alert-info">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            Please Wait Till Your Transaction Is Being Processed
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="spinner-grow text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div id="loading-mask">
                        </div>


                    </div>

                    <div *ngIf="!enableSaveButton" style="padding-top: 15px;">
                        <button class="btn btn-success btn-md btn-tall btn-wide" [disabled]="disableCreate"
                            (click)="openModal(content,'Create')">Create
                            Fin03A</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger btn-md btn-tall btn-wide" [disabled]="disableCreate"
                            (click)="navToList()">Cancel/Exit</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <button class="btn btn-warning btn-md btn-tall btn-wide" (click)="navToList()">Pdf</button> -->
                    </div>
                </div>
            </div>
        </app-card>

    </div>
</div>