.btw-days { 
    color: black;
    font-weight: bold;
    }
    .tot-amt {
        color: black;
        font-weight: bold;
        }
    
// disable number arrow

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}