<app-card cardTitle="Ageing Report as on {{selectedDate}}" cardClass="card-datatable" [options]="false">
  <!-- cardTitle="Invoice Report - Total Invoice Value :
{{this.totalInvoiceValue|number:'1.2-2'}}" -->
  <div class="col-md-12">
    <a (click)="downloadListPdf()" class=" float-right" style="margin-top: -50px;margin-right: 210px;z-index: 50;"
      href="#!" [routerLink]="['/report/invoice/ageing-report']"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="48" height="48" viewBox="0 0 172 172" style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
          stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
          font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g fill="#e74c3c">
            <path
              d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
            </path>
          </g>
        </g>
      </svg></a>
    <a (click)="generateListExcel()" class="float-right" style="margin-top: -50px;margin-right: 160px;z-index: 50;;"
      href="#!" [routerLink]="['/report/invoice/ageing-report']"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="48" height="48" viewBox="0 0 172 172" style=" fill:#000000;">
        <g transform="">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
            font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g id="original-icon" fill="#2ecc71">
              <path
                d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
              </path>
            </g>
            <path d="" fill="none"></path>
            <path d="" fill="none"></path>
          </g>
        </g>
      </svg> </a>
  </div>
  <div *ngIf="hideFilters" class="row">
    <div class="col-lg-9">
      <div *ngIf="this.dashboardSource == 'RA'">
        <div *ngIf="this.stateFilter == ''">
          <b>Revenue Contribution - {{invoiceTypeFilter}} - RM {{totalInvoiceValue|number:'1.2-2'}}</b>
        </div>
        <div *ngIf="this.stateFilter != '' && this.districtFilter == ''">
          <b>Revenue Contribution - {{invoiceTypeFilter}} - RM {{totalInvoiceValue|number:'1.2-2'}} for
            {{stateFilter}} state</b>
        </div>
        <div *ngIf="this.stateFilter != '' && this.districtFilter != ''">
          <b>Revenue Contribution - {{invoiceTypeFilter}} - RM {{totalInvoiceValue|number:'1.2-2'}} for {{stateFilter}}
            state /
            {{districtFilter}} district</b>
        </div>
      </div>
      <div *ngIf="this.dashboardSource == 'AR-WOR'">
        <div *ngIf="this.stateFilter == ''">
          <b>Accounts Receivables Without Retention - {{invoiceTypeFilter}} - RM
            {{totalOutstandingAmount|number:'1.2-2'}}</b>
        </div>
        <div *ngIf="this.stateFilter != '' && this.districtFilter == ''">
          <b>Accounts Receivables Without Retention - {{invoiceTypeFilter}} - RM
            {{totalOutstandingAmount|number:'1.2-2'}} for
            {{stateFilter}} state</b>
        </div>
        <div *ngIf="this.stateFilter != '' && this.districtFilter != ''">
          <b>Accounts Receivables Without Retention - {{invoiceTypeFilter}} - RM
            {{totalOutstandingAmount|number:'1.2-2'}} for
            {{stateFilter}} state /
            {{districtFilter}} district</b>
        </div>
      </div>
      <div *ngIf="this.dashboardSource == 'AR-WR'">
        <div *ngIf="this.stateFilter == ''">
          <b>Accounts Receivables With Retention - {{invoiceTypeFilter}} - RM
            {{totalOutstandingAmount|number:'1.2-2'}}</b>
        </div>
        <div *ngIf="this.stateFilter != '' && this.districtFilter == ''">
          <b>Accounts Receivables With Retention - {{invoiceTypeFilter}} - RM {{totalOutstandingAmount|number:'1.2-2'}}
            for
            {{stateFilter}} state</b>
        </div>
        <div *ngIf="this.stateFilter != '' && this.districtFilter != ''">
          <b>Accounts Receivables With Retention - {{invoiceTypeFilter}} - RM {{totalOutstandingAmount|number:'1.2-2'}}
            for
            {{stateFilter}} state /
            {{districtFilter}} district</b>
        </div>
      </div>
      <div *ngIf="this.dashboardSource == 'RE'">
        <div *ngIf="this.stateFilter == ''">
          <b>Accounts Retention - {{invoiceTypeFilter}} - RM {{totalRetentionAmount|number:'1.2-2'}}</b>
        </div>
        <div *ngIf="this.stateFilter != '' && this.districtFilter == ''">
          <b>Accounts Retention - {{invoiceTypeFilter}} - RM {{totalRetentionAmount|number:'1.2-2'}} for
            {{stateFilter}} state</b>
        </div>
        <div *ngIf="this.stateFilter != '' && this.districtFilter != ''">
          <b>Accounts Retention - {{invoiceTypeFilter}} - RM {{totalRetentionAmount|number:'1.2-2'}} for {{stateFilter}}
            state /
            {{districtFilter}} district</b>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-success float-right" style="margin-top: -50px;z-index: 50;">PDF</button>
    </div>
  </div>
  <div *ngIf="!hideFilters" class="row">
    <div class="col-md-12">
      <!-- <a (click)="downloadPdf()" class=" float-right" style="margin-top: -50px;margin-right: 270px;z-index: 50;"
        href="#!" [routerLink]="['/report/invoice/invoice-list']"><svg xmlns="http://www.w3.org/2000/svg" x="0px"
          y="0px" width="48" height="48" viewBox="0 0 172 172" style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
            font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#e74c3c">
              <path
                d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
              </path>
            </g>
          </g>
        </svg></a>
      <a (click)="generateExcel()" class="float-right" style="margin-top: -50px;margin-right: 210px;z-index: 50;;"
        href="#!" [routerLink]="['/report/invoice/invoice-list']"><svg xmlns="http://www.w3.org/2000/svg" x="0px"
          y="0px" width="48" height="48" viewBox="0 0 172 172" style=" fill:#000000;">
          <g transform="">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
              stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
              font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g id="original-icon" fill="#2ecc71">
                <path
                  d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                </path>
              </g>
              <path d="" fill="none"></path>
              <path d="" fill="none"></path>
            </g>
          </g>
        </svg> </a> -->
      <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;margin-right: 110px;"
        (click)="filterFunction()">Go </button>
      <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;" (click)="resetFilter()">Reset
        All</button>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>State</label>

        <select class="form-control form-control-primary" id="state" name="state" [value]="stateFilter"
          (change)="handleForm($event)" [disabled]="loading">
          <option value="">All</option>
          <option *ngFor="let state of stateFilterDatas" [selected]="stateFilter==state.stateName"
            value="{{state.stateName}}"> {{state.stateName}}</option>
        </select>

      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>District</label>
        <select class="form-control form-control-primary" id="district" name="district" [value]="districtFilter"
          (change)="handleForm($event)" [disabled]="loading">
          <option value="">All</option>
          <option *ngFor="let district of districtFilterDatas" [selected]="districtFilter==district.districtName"
            value="{{district.districtName}}">
            {{district.districtName}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Clinic Type</label>
        <select class="form-control form-control-primary" id="clinicType" name="clinicType" [value]="clinicTypeFilter"
          (change)="handleForm($event)" [disabled]="loading">
          <option value="">All</option>
          <option value="1">PKD</option>
          <option value="2">PPD</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Invoice Type</label>
        <!-- <select class="form-control " id="invoiceType" name="invoiceType" [value]="invoiceTypeFilter"
          (change)="handleForm($event)" [disabled]="loading">
          <option value="">All</option>
          <option *ngFor="let invoiceType of invoiceTypes" [selected]="invoiceTypeFilter==invoiceType.invoiceTypeName"
            value="{{invoiceType.invoiceTypeName}}">
            {{invoiceType.invoiceTypeName}}</option>
        </select> -->
        <ng-multiselect-dropdown [placeholder]="'Select Invoice Type'" [settings]="dropdownSettings"
          [data]="dropdownListInvoiceType" [(ngModel)]="selectedItemsInvoiceType" (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <!-- <div class="col-md-3">
      <div class="form-group">
        <label>Invoice Type</label>
        <select class="form-control form-control-primary" id="invoiceType" name="invoiceType"
          [value]="invoiceTypeFilter" (change)="handleForm($event)" [disabled]="loading">
          <option value="">All</option>
          <option *ngFor="let invoiceType of invoiceTypes" [selected]="invoiceTypeFilter==invoiceType.invoiceTypeName"
            value="{{invoiceType.invoiceTypeName}}">
            {{invoiceType.invoiceTypeName}}</option>
        </select>
      </div>
    </div> -->

    <!-- <div class="col-md-2">
      <div class="form-group">
        <label>Retention</label>
        <select class="form-control form-control-primary" id="retention" name="retention" [value]="retentionFilter"
          (change)="handleForm($event)" [disabled]="loading">
          <option value="">All</option>
          <option value="1">With Retetention Amt</option>
          <option value="2">W/O Retetention Amt</option>
        </select>
      </div>
    </div> -->
    <!-- </div>
    <!-- <div class="row">    -->

    <div class="col-md-3">
      <div class="form-group">
        <label>Retention</label>
        <select class="form-control " id="outstanding" name="outstanding" [value]="outstandingFilter"
          (change)="handleForm($event)" [disabled]="loading">
          <option value="">All</option>
          <option value="1">Including Retentions</option>
          <option value="2">Excluding Retentions</option>
        </select>
      </div>
    </div>

    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>

    <!-- mine -->
    <div class="col-md-3">
      <div class="form-group">
        <label>From Day 0 </label>
        <input type="number" class="form-control" value="0" disabled="true" id="days1a" name="days1a" (keydown.arrowup)="false" (keydown.arrowdown)="false"
        (keydown)="$event.keyCode !== 69 && $event.keyCode !== 189 && $event.keyCode !== 187 && $event.keyCode !== 107 && $event.keyCode !== 109">
      </div>
    </div>


    <div class="col-md-3">
      <div class="form-group">
        <label>To Day {{enteredDays1b}} </label>
        <input type="number" class="form-control" (input)="handleForm($event)" value={{enteredDays1b}} id="days1b"
          name="days1b" (keydown.arrowup)="false" (keydown.arrowdown)="false"
          (keydown)="$event.keyCode !== 69 && $event.keyCode !== 189 && $event.keyCode !== 187 && $event.keyCode !== 107 && $event.keyCode !== 109">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>From Day {{enteredDays1bb}}</label>
        <input type="number" class="form-control" value={{enteredDays1bb}} disabled="true" id="days2a" name="days2a" (keydown.arrowup)="false" 
        (keydown)="$event.keyCode !== 69 && $event.keyCode !== 189 && $event.keyCode !== 187 && $event.keyCode !== 107 && $event.keyCode !== 109" (keydown.arrowdown)="false">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>To Day {{enteredDays2b}}</label>
        <input type="number" class="form-control" (input)="handleForm($event)" value={{enteredDays2b}}
          [disabled]=checker1 id="days2b" name="days2b" (keydown.arrowup)="false" (keydown.arrowdown)="false"
          (keydown)="$event.keyCode !== 69 && $event.keyCode !== 189 && $event.keyCode !== 187 && $event.keyCode !== 107 && $event.keyCode !== 109">
      </div>
    </div>



    <!-- <div class="col-md-2">
          <div class="form-group">
              <label>{{enteredDays2bb}} Days And Above</label>
                <input type="number" class="form-control" value={{enteredDays2bb}} disabled="true" id="days3a" name="days2a">
            </div>
      </div> -->





    <br>
    <!-- <div style="margin-left: 250px;margin-bottom: 0px;"> <b>Total Invoice Value :
        {{this.totalInvoiceValue | number}} </b> </div> -->
    <br>

    <div class="table-responsive">
      <table *ngIf="!hideFilters" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-striped table-bordered table-hover">
        <thead>
          <tr align="center">
            <th>days Outstanding</th>
            <th>Total Invoice Amount</th>
            <th>Total Outstanding Amount</th>
          </tr>
        </thead>
        <tbody *ngIf="loading">
          <tr>
            <td colspan="9">
              <div class="d-flex justify-content-center">
                <div class="spinner-grow text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-dark" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="!loading">
          <tr *ngFor="let invoice of  agingArrayFetch ;let i = index ">
            <!-- <td [ngClass] ="'btw-days'"> {{invoice.betweenDays}} </td> -->
            <td [ngClass]="'btw-days'">
              <a placement="top" [routerLink]="['/report/invoice/ageing-report']" style="color: blue;"
                (click)="popUp(content)"><u>{{invoice.betweenDays}}</u></a>
            </td>
            <td [ngClass]="'tot-amt'" style="text-align: right;">{{invoice.totolInvoiceAmount|number:'1.2-2'}}</td>
            <td [ngClass]="'tot-amt'" style="text-align: right; ">{{invoice.totalOutstandingAmount|number:'1.2-2'}}</td>
          </tr>

          <tr *ngFor="let invoice of  agingArrayFetch1 ;let i = index">
            <td [ngClass]="'btw-days'">
              <a placement="top" [routerLink]="['/report/invoice/ageing-report']" style="color: blue;"
                (click)="popUp(content1)"><u>{{invoice.betweenDays}}</u></a>
            </td>
            <td [ngClass]="'tot-amt'" style="text-align: right;">{{invoice.totolInvoiceAmount|number:'1.2-2'}}</td>
            <td [ngClass]="'tot-amt'" style="text-align: right;">{{invoice.totalOutstandingAmount|number:'1.2-2'}}</td>

          </tr>
        </tbody>

        <tbody *ngIf="!loading">
          <tr *ngFor="let invoice of  agingArrayFetch2 ;let i = index ">
            <td [ngClass]="'btw-days'">
              <a placement="top" [routerLink]="['/report/invoice/ageing-report']" style="color: blue;"
                (click)="popUp(content2)"><u>{{invoice.betweenDays}}</u></a>
            </td>
            <td [ngClass]="'tot-amt'" style="text-align: right;">{{invoice.totolInvoiceAmount|number:'1.2-2'}}</td>
            <td [ngClass]="'tot-amt'" style="text-align: right;">{{invoice.totalOutstandingAmount|number:'1.2-2'}}</td>

          </tr>

          <tr *ngFor="let invoice of  agingArrayFetch3 ;let i = index ">
            <td [ngClass]="'btw-days'">{{invoice.betweenDays}}</td>
            <td [ngClass]="'tot-amt'" style="text-align: right;">{{invoice.totolInvoiceAmount|number:'1.2-2'}}</td>
            <td [ngClass]="'tot-amt'" style="text-align: right;">{{invoice.totalOutstandingAmount|number:'1.2-2'}}</td>
            <!-- <td>
              <a placement="top" [routerLink]="['/report/invoice/ageing-report']" ><u style="color: blue;">{{invoice.linkArray}}</u></a>
            </td> -->
          </tr>
        </tbody>

        <!-- For Inner Model -->
        <ng-template #innerContent let-c="close" let-d="dismiss">
          <div class="modal-header">
            <div class="col-lg-9">
              <h5 class="modal-title">Ageing Report as on {{this.selectedDate}}</h5>
            </div>
            <div class="col-lg-3">
              <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <br>

            <br>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>State</label>
                  <input type="text" class="form-control" [value]="this.invoice.stateName" readonly />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>District</label>
                  <input type="text" class="form-control" [value]="this.invoice.districtName" readonly />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Invoice Date</label>
                  <input type="text" class="form-control" [value]="this.invoice.invoiceDateDisplay" readonly />
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Invoice Base Value</label>
                  <input type="text" class="form-control" [value]="this.invoice.invoiceBaseValue|number" readonly />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>SST Amount</label>
                  <input type="text" class="form-control" [value]="this.invoice.sst|number" readonly />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label style="color: purple;font-weight: bolder;">Total Invoice Value</label>
                  <input style="color:purple;font-weight: bolder;" type="text" class="form-control"
                    [value]="this.invoice.totalInvoiceValue|number" readonly />
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Retention Amount</label>
                  <input type="Text" class="form-control" id="retentionAmount" name="retentionAmount"
                    [value]="this.invoice.retentionAmount|number" readonly />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Outstanding Amount</label>
                  <input type="text" class="form-control" [value]="this.invoice.outstandingAmount|number" readonly />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Collection Received</label>
                  <input type="Text" class="form-control" [value]="this.invoice.paymentReceived|number" readonly />
                </div>
              </div>
            </div>
            <br>
            <hr>
            <br>

            <div class="row">
              <b> Invoice Payment History </b>
              <table class="table table-bordered text-center">
                <thead>
                  <th> Collection Received Date </th>
                  <th> Collection Received </th>
                  <th> Bank Ref No </th>
                  <th> Collection Ref No </th>
                </thead>
                <tbody>
                  <tr *ngFor="let invoice of invoice.invoicePaymentHistory">
                    <td> {{invoice.paymentDateDisplay}} </td>
                    <td> {{invoice.paymentReceived|number}} </td>
                    <td> {{invoice.paymentRefNo}} </td>
                    <td> {{invoice.transactionRefNo}} </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <br>
          <div></div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="modal-footer">
          </div>
        </ng-template>

        <!-- For model  -->
        <ng-template #content let-c="close" let-d="dismiss">

          <div class="modal-header">
            <div class="col-lg-9">
              <h5 class="modal-title">Ageing Report as on {{this.selectedDate}}- From 0 to {{this.enteredDays1b}} Days
              </h5>
            </div>
            <div class="col-lg-3">
              <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span
                  aria-hidden="true">&times;</span></button>
              <!-- pdf -->
              <a class="float-right" href="#!" [routerLink]="['/report/invoice/ageing-report']"><svg
                  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" (click)=" generatePDF()" height="48"
                  viewBox="0 0 172 172" style=" fill:#000000;">
                  <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#e74c3c">
                      <path
                        d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                      </path>
                    </g>
                  </g>
                </svg></a>
              <a class="float-right" href="#!" [routerLink]="['/report/invoice/ageing-report']"><svg
                  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" (click)="generateExcel()" height="48"
                  viewBox="0 0 172 172" style=" fill:#000000;">
                  <g transform="">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                      stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                      font-family="none" font-weight="none" font-size="none" text-anchor="none"
                      style="mix-blend-mode: normal">
                      <path d="M0,172v-172h172v172z" fill="none"></path>
                      <g id="original-icon" fill="#2ecc71">
                        <path
                          d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                        </path>
                      </g>
                      <path d="" fill="none"></path>
                      <path d="" fill="none"></path>
                    </g>
                  </g>
                </svg> </a>
              <!-- pdf -->
            </div>
          </div>

          <div class="modal-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr align="center">
                    <th>#</th>
                    <th>INV NO</th>
                    <Th>INV TYPE</Th>
                    <!-- <Th>INV BASE AMT</Th> -->
                    <!-- <Th>SST</Th>  -->
                    <!-- <Th>RETENTION</Th>  -->
                    <Th>TOTAL INV AMT</Th>
                    <Th>DAYS</Th>
                    <Th>OUTSTANDING AMT</Th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let invoice of  filteredInvoice ;let i = index ">
                    <td>{{i+1}}</td>
                    <td><a placement="top" [routerLink]="['/report/invoice/ageing-report']"
                        (click)="popUp1(innerContent,invoice.id)">
                        <u style="color: blue;">{{invoice.invoiceNo}}</u></a></td>
                    <td>{{invoice.invoiceTypeName}}</td>
                    <!-- <td style="text-align: right;">{{invoice.invoiceBaseValue|number:'1.2-2'}}</td> -->
                    <!-- <td style="text-align: right;">{{invoice.sst|number:'1.2-2'}}</td> -->
                    <!-- <td style="text-align: right;">{{invoice.retentionAmount|number:'1.2-2'}}</td> -->
                    <td style="text-align: right;">{{invoice.totalInvoiceValue|number:'1.2-2'}}</td>
                    <td style="text-align: center;">{{invoice.age}}</td>
                    <td style="text-align: right;">{{invoice.outstandingAmount|number:'1.2-2'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>

        <!-- For model 1 -->
        <ng-template #content1 let-c="close" let-d="dismiss">

          <div class="modal-header">
            <div class="col-lg-9">
              <h5 class="modal-title">Ageing Report as on {{this.selectedDate}}- From {{this.enteredDays1bb}} to
                {{this.enteredDays2b}} Days</h5>
            </div>
            <div class="col-lg-3">
              <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span
                  aria-hidden="true">&times;</span></button>

              <!-- pdf -->
              <a class="float-right" href="#!" [routerLink]="['/report/invoice/ageing-report']"><svg
                  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" (click)=" generatePDF1()" height="48"
                  viewBox="0 0 172 172" style=" fill:#000000;">
                  <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#e74c3c">
                      <path
                        d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                      </path>
                    </g>
                  </g>
                </svg></a>
              <a class="float-right" href="#!" [routerLink]="['/report/invoice/ageing-report']"><svg
                  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" (click)="generateExcel1()" height="48"
                  viewBox="0 0 172 172" style=" fill:#000000;">
                  <g transform="">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                      stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                      font-family="none" font-weight="none" font-size="none" text-anchor="none"
                      style="mix-blend-mode: normal">
                      <path d="M0,172v-172h172v172z" fill="none"></path>
                      <g id="original-icon" fill="#2ecc71">
                        <path
                          d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                        </path>
                      </g>
                      <path d="" fill="none"></path>
                      <path d="" fill="none"></path>
                    </g>
                  </g>
                </svg> </a>
              <!-- pdf -->
            </div>
          </div>

          <div class="modal-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr align="center">
                    <th>#</th>
                    <th>INV NO</th>
                    <Th>INV TYPE</Th>
                    <!-- <Th>INV BASE AMT</Th> -->
                    <!-- <Th>SST</Th>  -->
                    <!-- <Th>RETENTION AMT</Th>  -->
                    <Th>TOTAL INV AMT</Th>
                    <Th>DAYS</Th>
                    <Th>OUTSTANDING AMT</Th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let invoice of  filteredInvoice1 ;let i = index ">
                    <td>{{i+1}}</td>
                    <td><a placement="top" [routerLink]="['/report/invoice/ageing-report']"
                        (click)="popUp1(innerContent,invoice.id)">
                        <u style="color: blue;">{{invoice.invoiceNo}}</u></a> </td>
                    <td>{{invoice.invoiceTypeName}}</td>
                    <!-- <td style="text-align: right;">{{invoice.invoiceBaseValue|number:'1.2-2'}}</td>
                      <td style="text-align: right;">{{invoice.sst|number:'1.2-2'}}</td>
                      <td style="text-align: right;">{{invoice.retentionAmount|number:'1.2-2'}}</td> -->
                    <td style="text-align: right;">{{invoice.totalInvoiceValue|number:'1.2-2'}}</td>
                    <td style="text-align: center;">{{invoice.age}}</td>
                    <td style="text-align: right;">{{invoice.outstandingAmount|number:'1.2-2'}}</td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </ng-template>

        <!-- For model 2 -->
        <ng-template #content2 let-c="close" let-d="dismiss">

          <div class="modal-header">
            <div class="col-lg-9">
              <h5 class="modal-title">Ageing Report as on {{this.selectedDate}}- From {{this.enteredDays2bb}} Days and
                Above</h5>
            </div>
            <div class="col-lg-3">
              <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span
                  aria-hidden="true">&times;</span></button>
              <!-- pdf -->
              <a class="float-right" href="#!" [routerLink]="['/report/invoice/ageing-report']"><svg
                  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" (click)=" generatePDF2()" height="48"
                  viewBox="0 0 172 172" style=" fill:#000000;">
                  <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#e74c3c">
                      <path
                        d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                      </path>
                    </g>
                  </g>
                </svg></a>
              <a class="float-right" href="#!" [routerLink]="['/report/invoice/ageing-report']"><svg
                  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" (click)="generateExcel2()" height="48"
                  viewBox="0 0 172 172" style=" fill:#000000;">
                  <g transform="">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                      stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                      font-family="none" font-weight="none" font-size="none" text-anchor="none"
                      style="mix-blend-mode: normal">
                      <path d="M0,172v-172h172v172z" fill="none"></path>
                      <g id="original-icon" fill="#2ecc71">
                        <path
                          d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                        </path>
                      </g>
                      <path d="" fill="none"></path>
                      <path d="" fill="none"></path>
                    </g>
                  </g>
                </svg> </a>
              <!-- pdf -->

            </div>
          </div>

          <div class="modal-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr align="center">
                    <th>#</th>
                    <th>INV NO</th>
                    <Th>INV TYPE</Th>
                    <!-- <Th>INV BASE AMT</Th>
                        <Th>SST</Th> 
                        <Th>RETENTION AMT</Th>  -->
                    <Th>TOTAL INV AMT</Th>
                    <Th>DAYS</Th>
                    <Th>OUTSTANDING AMT</Th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let invoice of  filteredInvoice2 ;let i = index ">
                    <td>{{i+1}}</td>
                    <td><a placement="top" [routerLink]="['/report/invoice/ageing-report']"
                        (click)="popUp1(innerContent,invoice.id)">
                        <u style="color: blue;">{{invoice.invoiceNo}}</u></a></td>
                    <td>{{invoice.invoiceTypeName}}</td>
                    <!-- <td style="text-align: right;">{{invoice.invoiceBaseValue|number:'1.2-2'}}</td>
                      <td style="text-align: right;">{{invoice.sst|number:'1.2-2'}}</td>
                      <td style="text-align: right;">{{invoice.retentionAmount|number:'1.2-2'}}</td> -->
                    <td style="text-align: right;">{{invoice.totalInvoiceValue|number:'1.2-2'}}</td>
                    <td style="text-align: center;">{{invoice.age}}</td>
                    <td style="text-align: right;">{{invoice.outstandingAmount|number:'1.2-2'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>



      </table>


      <!-- End -->







      <table *ngIf="hideFilters" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Invoice Number</th>
            <th>Clinic Type</th>
            <th *ngIf="this.dashboardSource == 'RA'">Invoice Value</th>
            <th *ngIf="this.dashboardSource == 'AR-WOR'||this.dashboardSource == 'AR-WR'">Outstanding Amount</th>
            <th *ngIf="this.dashboardSource == 'RE'">Retention Amount </th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of this.invoices;let i = index ">
            <td>{{i+1}}</td>
            <td>{{invoice.invoiceNo}}</td>
            <td>{{invoice.clinicTypeCode}}</td>
            <td *ngIf="this.dashboardSource == 'RA'">
              {{invoice.totalInvoiceValue|number:'1.2-2'}}</td>
            <td *ngIf="this.dashboardSource == 'AR-WOR'||this.dashboardSource == 'AR-WR'">
              {{invoice.outstandingAmount|number:'1.2-2'}}</td>
            <td *ngIf="this.dashboardSource == 'RE'">{{invoice.retentionAmount|number:'1.2-2'}}</td>
            <td><button class="btn btn-primary btn-sm"
                (click)="getInvoiceById(invoice.id);modalDefault.show()">View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-3" style="align-self: flex-start;">
      <img id="pdfImage" #pdfImage src="assets/images/qmsInvoiceLogo.png" width="150px" height="150px"> </div>
  </div> -->
</app-card>

<app-ui-modal #modalDefault [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 *ngIf="!loadingModal" class="modal-title">{{invoice.invoiceNo}} - {{invoice.invoiceTypeName}}</h5>
    <button class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDefault.hide()"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <div>
      <div *ngIf="loadingModal">
        <div class="d-flex justify-content-center">
          <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div *ngIf="!loadingModal">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>State</label>
              <input type="text" class="form-control" [value]="this.invoice.stateName" readonly />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>District</label>
              <input type="text" class="form-control" [value]="this.invoice.districtName" readonly />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Invoice Date</label>
              <input type="text" class="form-control" [value]="this.invoice.invoiceDateDisplay" readonly />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Invoice Base Value</label>
              <input type="text" class="form-control" [value]="this.invoice.invoiceBaseValue|number:'1.2-2'" readonly />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>SST Amount</label>
              <input type="text" class="form-control" [value]="this.invoice.sst|number:'1.2-2'" readonly />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Total Invoice Value</label>
              <input type="text" class="form-control" [value]="this.invoice.totalInvoiceValue|number:'1.2-2'"
                readonly />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Retention Amount</label>
              <input type="Text" class="form-control" id="retentionAmount" name="retentionAmount"
                [value]="this.invoice.retentionAmount|number:'1.2-2'" readonly />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Outstanding Amount</label>
              <input type="text" class="form-control" [value]="this.invoice.outstandingAmount|number:'1.2-2'"
                readonly />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Collection Received</label>
              <input type="Text" class="form-control" [value]="this.invoice.paymentReceived|number:'1.2-2'" readonly />
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <b> Invoice Payment History </b>
          <table class="table table-bordered text-center">
            <thead>
              <th> Collection Received Date </th>
              <th> Collection Received </th>
              <th> Bank Ref No </th>
              <th> Collection Ref No </th>
            </thead>
            <tbody>
              <tr *ngFor="let data of invoice.invoicePaymentHistory">
                <td> {{data.paymentDateDisplay}} </td>
                <td> {{data.paymentReceived|number:'1.2-2'}} </td>
                <td> {{data.paymentRefNo}} </td>
                <td> {{data.transactionRefNo}} </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  
  <div class="app-modal-footer">


  </div>
</app-ui-modal>