<div class="row">
    <div class="col-lg-12">
        <app-card cardTitle="FIN 05A Created List" cardClass="card-datatable" [options]="false">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>State</label>
                            <select class="form-control form-control-primary" id="state" name="state" [value]="stateFilter" (change)="handleForm($event)">
                                <option value="">Select</option>
                                <option *ngFor="let state of stateFilterDatas" value="{{state.stateName}}">
                                    {{state.stateName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>District</label>
                            <select class="form-control form-control-primary" id="district" name="district" [value]="districtFilter" (change)="handleForm($event)">
                                <option value="">Select</option>
                                <option *ngFor="let district of districtFilterDatas" value="{{district.districtName}}">
                                    {{district.districtName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button class="btn btn-primary" style="margin-top: 25px; margin-left: 20px;" (click)="resetFilter()">Reset
                                All</button>
                        </div>
                    </div>
                </div>
            </form>
        </app-card>
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- <h4 class="modal-title" id="modal-basic-title">Hi there!</h4> -->
                <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button> -->
            </div>
            <div class="modal-body">
                <b>Do You Want To {{modalBodyContent}}?</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-md btn-tall btn-wide" (click)="c();closeModal()">Yes</button>
                <button type="button" class="btn btn-danger btn-md btn-tall btn-wide" (click)="c()">No</button>
            </div>
        </ng-template>
        <app-card cardClass="card-datatable" [options]="false">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th> State</th>
                            <th> District </th>
                            <th> FIN Ref No</th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="loading">
                        <tr>
                            <td colspan="5">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-danger" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-dark" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                    <tbody *ngIf="!loading">
                        <tr *ngFor="let data of filterDatas;let i = index">
                            <td> {{i+1}} </td>
                            <td> {{data.stateName}}</td>
                            <td> {{data.districtName}} </td>
                            <td> {{data.code}} </td>
                            <td>
                                <div *ngIf="!data.approved"><button type="button" class="btn btn-primary" (click)="navigateToApproval(data.id)"> View</button> &nbsp;&nbsp;
                                    <button type="button" class="btn btn-success" (click)="openModal(content,'Approve',data)">
                                        Approve</button>
                                </div>
                                <div *ngIf="data.approved">
                                    <button type="button" class="btn btn-primary" (click)="navigateToApproval(data.id)">
                                        View</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </app-card>
    </div>
</div>