<div class="row">
    <div class="col-lg-12">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- <h4 class="modal-title" id="modal-basic-title">Hi there!</h4> -->
                <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button> -->
            </div>
            <div class="modal-body">
                <b>Do You Want To {{modalBodyContent}}?</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-md btn-tall btn-wide" (click)="c();closeModal()">Yes</button>
                <button type="button" class="btn btn-danger btn-md btn-tall btn-wide" (click)="c()">No</button>
            </div>
        </ng-template>
        <ng-template #invoiceDateChange let-c="close" let-d="dismiss">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <label>Invoice Date</label><br>
                <input type="date" [(ngModel)]="invoiceDate" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-md btn-tall btn-wide" (click)="c();closeModal()">Generate</button>
                <button type="button" class="btn btn-danger btn-md btn-tall btn-wide" (click)="c()">Back</button>
            </div>
        </ng-template>
        <app-card cardClass="card-datatable" [hidHeader]="true" [options]="false">
            <div>
                <div *ngIf="loading">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="!loading">
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <img id="pdfImage" #pdfImage src="assets/images/qmsLogo.png" width="275px" height="175px">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>SUMMARY OF CONSTRUCTION WORKS</th>
                                    </tr>
                                </thead>
                            </table>
                            <br>
                        </div>
                        <div class="col-lg-5">
                            <table style="width: 160%;
                        border: 2px solid black;
                        padding: 6px;">
                                <tr>
                                    <td style="text-align: left;border-right: white;border-bottom: white;">
                                        <b>STATE </b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-bottom: white;">
                                        {{stateName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;border-right: white;border-top: white;border-bottom: white;">
                                        <b>DISTRICT </b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-top: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-top: white;border-bottom: white;">
                                        {{districtName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;border-right: white;border-top: white;border-bottom: white;">
                                        <b>CLINIC NAME </b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-top: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-top: white;border-bottom: white;">
                                        {{clinicName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;border-right: white;border-top: white;border-bottom: white;">
                                        <b>CLINIC CODE </b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-top: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-top: white;border-bottom: white;">
                                        {{clinicCode}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;border-right: white;border-top: white;border-bottom: white;">
                                        <b>ASSET NAME</b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-top: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-top: white;border-bottom: white;">
                                        {{loopedAssetName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;border-right: white;border-top: white;border-bottom: white;">
                                        <b>BE NUMBER</b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-top: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-top: white;border-bottom: white;">
                                        {{beNumber}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;border-right: white;border-top: white;">
                                        <b>MONTH/YEAR </b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-top: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-top: white;">
                                        {{monthYear}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-4">
                            <b>FORM FIN 10-B</b>
                            <table style="width: 100%;
                        border: 2px solid black;
                        padding: 6px;">
                                <tr>
                                    <td style="text-align: left;"><b>DOC REF:</b></td>
                                    <td style="text-align: right;"><b>{{docRef}}</b></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;"><b>DATE:</b></td>
                                    <td style="text-align: right;"><b>{{date}}</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12" style="overflow-x:auto;">
                            <table>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Type of Expense</th>
                                    <th>Name of Supplier</th>
                                    <th>CW Final BQ Cost</th>
                                    <th>Tender Ref No</th>
                                    <th>Award/Contract Ref No</th>
                                    <th>Practical Completion Ref No</th>
                                    <th>T&C No</th>
                                    <th>Acceptance Ref</th>
                                    <th>Agreed Total</th>
                                </tr>
                                <tr *ngFor="let data of equipmentDatas;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>Preliminaries,Design & Build,Civil & Structure,Electrical, Mechanical, Plumbing,
                                        misc associated works aircond</td>
                                    <td>{{data.nameOfSupplier}}</td>
                                    <td style="text-align: right;">{{data.cwFinalBqCost|number:'1.2-2'}}</td>
                                    <td>{{data.tenderRefNo}}</td>
                                    <td>{{data.letterOfAwardOrContractRefNo}}</td>
                                    <td>{{data.certOfPracticalCompletionRefNo}}</td>
                                    <td>{{data.certOfTcNo}}</td>
                                    <td>{{data.certOfAcceptanceRef}}</td>
                                    <td style="text-align: right;">{{data.agreedTotal|number:'1.2-2'}}</td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td colspan="9" style="text-align: left;">TOTAL (RM) </td>
                                    <td style="text-align: right;"> {{equipmentTotalValue|number:'1.2-2'}} </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div *ngIf="isApproved" class="row">
                        <div class="col-lg-4">
                            <b>PREPARED BY :<br>
                                <!-- NAME
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 : {{fin06.submittedUserName}} -->
                                SYADZWANI FAUZI
                                <br />
                                <!-- DESIGNATION &nbsp;: {{fin06.submittedUserDesignation}} -->
                                PROJECT EXECUTIVE
                                <br />
                                DATE
                                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                : <br>
                                <!-- {{fin06.submittedDate  | date:'dd-MM-yyyy'}} -->
                            </b>
                        </div>
                        <div class="col-lg-4">
                            <b>CHECKED BY :<br>
                                <!-- NAME
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp; : {{fin06.approval1UserName}} -->
                                ZAIZUL BAHARY ZAKARIA
                                <br />
                                <!-- DESIGNATION &nbsp;: {{fin06.approval1UserDesignation}} -->
                                PROJECT CONSULTANT


                                <br />
                                DATE
                                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      -->
                                : <br>
                                <!-- {{fin06.approval1Date | date:'dd-MM-yyyy'}} -->
                                <!-- Technical Service Department -->
                            </b>
                        </div>
                        <div class="col-lg-4">
                            <b>VERIFIED BY,<br>
                                <!-- PKD/PPD CLINICS<br> -->
                                JURUTERA NEGERI
                                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp; : {{fin06.approval2UserName}}
                                <br />
                                DESIGNATION &nbsp; : {{fin06.approval2UserDesignation}}
                                <br />
                                DATE
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp; : {{fin06.approval2Date | date:'dd-MM-yyyy'}} <br> -->

                            </b>
                        </div>
                    </div>

                    <div *ngIf="showButtons">
                        <div *ngIf=showSaveSubmitButton style="padding-top: 15px;">
                            <!-- <button class="btn btn-info btn-md btn-tall btn-wide"
                                (click)="openModal(content,'Save')">Save</button>
                            &nbsp;&nbsp;&nbsp;&nbsp; -->
                            <button class="btn btn-success btn-md btn-tall btn-wide" (click)="openModal(content,'Submit')">Submit</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-md btn-tall btn-wide" (click)="navToList()">Back</button>
                        </div>
                        <div *ngIf=!showSaveSubmitButton style="padding-top: 15px;">
                            <button class="btn btn-success btn-md btn-tall btn-wide" (click)="openModal(content,'Approve')">Approve</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button *ngIf="this.fin10b.status == 'FOR APPROVAL TO MOH'" class="btn btn-success btn-md btn-tall btn-wide" (click)="openModal(invoiceDateChange,'invoiceDateChange')">PDF</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-md btn-tall btn-wide" (click)="navToList()">Back</button>
                        </div>
                    </div>
                    <div *ngIf="!showButtons">
                        <div *ngIf="isApproved" style="padding-top: 15px;">
                            <button class="btn btn-success btn-md btn-tall btn-wide" (click)="downloadPdf()">PDF</button> &nbsp;
                            &nbsp;
                            <button class="btn btn-danger btn-md btn-tall btn-wide" (click)="navToList()">Back</button>
                        </div>
                        <div *ngIf="!isApproved" style="padding-top: 15px;">
                            <button class="btn btn-danger btn-md btn-tall btn-wide" (click)="navToList()">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>