

.dashboardTable th,
.dashboardTable td {
    text-align: center !important;
    vertical-align: middle;
}
.text-white {
    color: #ffffff !important;
}

.dashboardTable th {
    vertical-align: middle !important;
}
.progressTable .progress{
	height:25px;
}
.hoProgressTd,
.stateProgressTd,
.districtProgressTd{
	cursor:pointer;
}
.progressTable .kt-badge--inline{
	width:100%;
}

.porgressTableHeading{
	font-weight:bold !important;
}
.progressTable tr .porgressTableHeading:nth-child(1){
	width:150px !important;
}
.pendingFinalisation.tableRow .table-bordered th,.pendingFinalisation.tableRow  .table-bordered td {
    border: 1px solid #E1BEE7 !important;
}
.bg-danger {
    background-color: #f44336 !important;
}
.height50{
	height:50px;
}
.agingProgressbar .progress-bar{
	background-color:transparent !important;
}
.agingProgressbar{
	background-image: linear-gradient(to right, #28a745,#28a745, #5baf35, #83b624, #dfb500, #ff9e17, #fc8425, #f56a31, #ea503c, #dc3545, #dc3545);
}
.notStartedProgress{
	background-color: #d5d6da !important;
    color: black;
}
.ageingTable td{
	vertical-align:middle;
}
.ageingTable{
	background: linear-gradient(to bottom, #ffb822 ,#f44336);
	/* height:300px; */
}
.ageingTable tr:nth-child(1) td:nth-child(2),
.ageingTable tr:nth-child(1) td:nth-child(3){
	background: #0abb87;
}

.ageingTable tr:last-child td:nth-child(1),
.ageingTable tr:last-child td:nth-child(2){
	background: #f44336 ;
}
.ageingTable td.bgWhite{
	background:#d5d6da !important;
	font-weight:bold;
}
.ageingTable tr.bgTr, 
.penaltyPendingFinalisationTable tbody tr.bgTr{
	background: linear-gradient(to right, #ffb822 ,#f44336);
}
.ageingTable tr.bgTr td:nth-child(1),
.penaltyPendingFinalisationTable tbody tr td:nth-child(2){
	background: #0abb87;
}
.ageingTable tr.bgTr td:nth-child(1), td:nth-child(1)
.penaltyPendingFinalisationTable tbody tr td:last-child{
	background: #f44336  ;
}
.penaltyPendingFinalisationTable tbody tr td:nth-child(1){
	background: white;
}
.penaltyPendingFinalisationTable tbody td.lastchild{
    /* background: #cc2115 ; */
    background: #f44336  ;
}
.penaltyPendingFinalisationTable .totalTr td{
	background:white !important;
	font-weight:bold;
}
.penaltyPendingFinalisationTable tbody td{
	text-align:right !important;
}
.penaltyPendingFinalisationTable tbody td.bgWhite{
	background:white !important;
	font-weight:bold;
}
.penaltyPendingFinalisationTable tbody td:hover,
#backLogInvoicesState tbody td:hover,
#backLogInvoicesDistrict tbody td:hover{
    color:white;
    background-color: #007bff !important;
    border-color: #007bff !important;
    cursor:pointer;
}


/* .ageingTable .tableRow .table-bordered th, .tableRow .table-bordered td {
    border: 1px solid white !important;
} */
