<div class="row">
    <div class="col-lg-12">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- <h4 class="modal-title" id="modal-basic-title">Hi there!</h4> -->
                <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button> -->
            </div>
            <div class="modal-body">
                <b>Do You Want To {{modalBodyContent}}?</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-md btn-tall btn-wide" (click)="c();closeModal()">Yes</button>
                <button type="button" class="btn btn-danger btn-md btn-tall btn-wide" (click)="c()">No</button>
            </div>
        </ng-template>
        <app-card cardClass="card-datatable" [options]="false">
            <div>
                <div *ngIf="loading">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="!loading">
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <tr>
                                    <td><b> CREATION OF INVOICE FOR CONSTRUCTION WORKS </b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-3">
                            <b> INVOICE TO:</b>
                            <table style="width: 100%;
                        border: 2px solid black;
                        padding: 6px;">
                                <tr>
                                    <td style="text-align: left;border-right: white;border-bottom: white;">
                                        <b>PKD/PPD </b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-bottom: white;">
                                        {{clinicTypeCode}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;border-right: white;border-top: white;border-bottom: white;">
                                        <b>DISTRICT </b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-top: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: start;border-left: white;border-top: white;border-bottom: white;">
                                        {{districtName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;border-right: white;border-top: white;">
                                        <b>MONTH/YEAR </b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-top: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-top: white;">
                                        {{monthYear}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <br>
                        </div>
                        <div class="col-lg-3">
                            <b>FORM FIN 04</b>
                            <table style="width: 100%;
                        border: 2px solid black;
                        padding: 6px;">
                                <tr>
                                    <td style="text-align: left;"><b>DOC REF:</b></td>
                                    <!-- <td style="text-align: right;"><b>{{docRef}}</b></td> -->
                                    <td style="text-align: right;"><b></b></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;"><b>DATE:</b></td>
                                    <td style="text-align: right;"><b>{{date}}</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <tr>
                                    <th colspan="3"> CLINIC DETAILS</th>
                                    <th colspan="2"></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th> CLINIC NAME </th>
                                    <th> CLINIC CODE </th>
                                    <th> ASSET TYPE </th>
                                    <th> CONSTRUCTION WORKS COST PER FIN-10B (RM) </th>
                                    <th> FORM FIN-10B REF</th>
                                    <th> CERT OF ACCEPTENCE REF </th>
                                </tr>
                                <!-- <tr *ngFor="let data of clinicDatas"> 

                                    <td style="text-align: left;">{{data.clinic.clinicName}}</td>
                                    <td>{{data.clinic.clinicCode}}</td>
                                    <td>{{data.assetName}}</td>
                                    <td style="text-align: right;"> {{data.totalAmount|number:'1.2-2'}}</td>
                                    <td> {{data.code}} </td>
                                    <td>{{data.certOfAcceptanceRef}}</td>
                                </tr> -->
                                <tr *ngFor='let data of clinicDatas.fin10bConstructionWorks'>

                                    <td style="text-align: left;">{{clinicName}}</td>
                                    <td>{{clinicCode}}</td>
                                    <td>{{data.assetName}}</td>
                                    <!-- <td>{{data.fin10bConstructionWorks[i].assetName</td> -->
                                    <!-- <td style="text-align: right;"> {{clinicDatas.totalAmount|number:'1.2-2'}}</td> -->
                                    <td style="text-align: right;">{{ data.agreedTotal|number:'1.2-2' }}</td>
                                    <td> {{data.fin10bRefNo}} </td>
                                    <td>{{data.certOfAcceptanceRef}}</td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td colspan="2" style="text-align: left;"> TOTAL INVOICE AMOUNT</td>
                                    <td></td>
                                    <td style="text-align: right;">{{equipmentTotalValue|number:'1.2-2'}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <!-- <tr>
                                <td colspan="2" style="text-align: left;"> SST Amount (0%) </td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: left;"> TOTAL INVOICE AMOUNT (Including SST) </td>
                                <td>{{totalInvoiceAmount}}</td> 
                            </tr> -->
                            </table>
                        </div>
                    </div>
                    <div style="padding-top: 15px;">
                        <button class="btn btn-success btn-md btn-tall btn-wide" [disabled]="disableCreate" (click)="openModal(content,'Create')">Create
                            FIN04</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger btn-md btn-tall btn-wide" [disabled]="disableCreate" (click)="navToList()">Cancel/Exit</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <button class="btn btn-warning btn-md btn-tall btn-wide" (click)="clinicNames()">Pdf</button> -->
                    </div>
                </div>
            </div>
        </app-card>

    </div>
</div>