<list-page-filter (selectedIds)="selectedIds($event)"></list-page-filter>
<div class="row">
    <div class="col-lg-12">

        <app-card cardClass="card-datatable" [options]="false">
            <button class="btn btn-primary float-right btn-md btn-tall btn-wide" style="margin-top: -50px;z-index: 50;"
                (click)="radioSelect()" [disabled]="buttonEnableBoolean">
                New</button>
            <div *ngIf="loading">

                <div class="d-flex justify-content-center">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th> MMYYYY</th>
                            <th> State </th>
                            <th> District </th>
                            <th> Clinic Type</th>
                            <!-- <th> Doc Ref</th> -->
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let data of filterDatas;let i = index">
                            <td>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" [id]="customRadio(data.id)"
                                        [checked]="data.selected" name="example1" (change)="buttonEnable(data.id)">
                                    <label class="custom-control-label" [for]="customRadio(data.id)"></label>
                                </div>

                            </td>
                            <td> {{data.month}} / {{data.year}} </td>
                            <td> {{data.stateName}}</td>
                            <td> {{data.districtName}} </td>
                            <td> {{data.clinicTypeCode}}</td>
                            <!-- <td> {{data.code}}</td> -->

                        </tr>
                    </tbody>
                </table>
            </div>

        </app-card>


        <!-- <app-card cardTitle="FIN 04 Create" cardClass="card-datatable" [options]="false">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>State</label>
                            <select class="form-control form-control-primary" id="state" name="state"
                                [value]="stateFilter" (change)="handleForm($event)">
                                <option value="">Select</option>
                                <option *ngFor="let state of stateFilterDatas" value="{{state.stateName}}">
                                    {{state.stateName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>District</label>
                            <select class="form-control form-control-primary" id="district" name="district"
                                [value]="districtFilter" (change)="handleForm($event)">
                                <option value="">Select</option>
                                <option *ngFor="let district of districtFilterDatas" value="{{district.districtName}}">
                                    {{district.districtName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button class="btn btn-primary" style="margin-top: 25px; margin-left: 20px;"
                                (click)="filterFunction()">Go</button> &nbsp;&nbsp;
                            <button class="btn btn-primary" style="margin-top: 25px; margin-left: 20px;"
                                (click)="resetFilter()">Reset
                                All</button>
                        </div>
                    </div>
                </div>
            </form>
        </app-card>
        <app-card cardClass="card-datatable" [options]="false">
            <button class="btn btn-primary float-right btn-md btn-tall btn-wide" style="margin-top: -50px;z-index: 50;"
                (click)="radioSelect()" [disabled]="buttonEnableBoolean">
                New</button>
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th> MMYYYY</th>
                            <th> State </th>
                            <th> District </th>
                            <th> Clinic Type</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="loading">
                        <tr>
                            <td colspan="5">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-danger" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-dark" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!loading">
                        <tr *ngFor="let data of filterDatas;let i = index">
                            <td>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" [id]="customRadio(data.id)"
                                        [checked]="data.selected" name="example1"
                                        (change)="buttonEnable(data.districtId,data.clinicTypeId)">
                                    <label class="custom-control-label" [for]="customRadio(data.id)"></label>
                                </div>
                            </td>
                            <td> {{data.month}} / {{data.year}} </td>
                            <td> {{data.stateName}}</td>
                            <td> {{data.districtName}} </td>
                            <td> {{data.clinicTypeCode}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </app-card> -->
    </div>
</div>