<app-card cardTitle="Credit / Debit Note Report" cardClass="card-datatable" [options]="false">

    <div class="row">
        <div class="col-md-12">
            <a class="float-right" style="margin-top: -50px;margin-right: 270px;z-index: 50;" href="#!" [routerLink]="['/report/invoice/credit-debit-note-list']"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172" (click)="downloadPdf()" style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#e74c3c">
                            <path d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                            </path>
                        </g>
                    </g>
                </svg></a>

            <a class="float-right" style="margin-top: -50px;margin-right: 210px;z-index: 50;;" href="#!" [routerLink]="['/report/invoice/credit-debit-note-list']"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172" (click)="generateExcel()" style=" fill:#000000;">
                    <g transform="">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g id="original-icon" fill="#2ecc71">
                                <path d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                                </path>
                            </g>
                            <path d="" fill="none"></path>
                            <path d="" fill="none"></path>
                        </g>
                    </g>
                </svg> </a>
            <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;margin-right: 110px;" (click)="filterFunction()">Go </button>
            <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;" (click)="resetFilter()">Reset
                All</button>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Remark</label>
                <input type="text" class="form-control" id="paymentRefNoSearch" name="paymentRefNoSearch" (change)=paymentRefNoSearchHandler() [(ngModel)]="this.paymentRefNoSearch" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>CN / DN Ref Number</label>
                <input type="text" class="form-control" id="transactionRefNoSearch" name="transactionRefNoSearch" (change)=transactionRefNoSearchHandler() [(ngModel)]="this.transactionRefNoSearch" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Date From</label>
                <input type="date" class="form-control" id="transactionDateFrom" (change)="transactionDateFromHandler()" name="transactionDateFrom" onkeydown="return false" [(ngModel)]="this.transactionDateFrom" [min]="minDate" [max]="this.curDate" (click)="curDatePicker()"
                    required />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Date To</label>
                <input type="date" class="form-control" id="transactionDateTo" name="transactionDateTo" [disabled]="this.transactionDateFrom == '' ? true : false" [min]="transactionDateFrom" onkeydown="return false" [(ngModel)]="this.transactionDateTo" [max]="this.curDate"
                    (click)="curDatePicker()" required />
            </div>
        </div>

        <!-- <div class="col-md-3">
      <div class="form-group">
        <label>Note Type</label>
        <select class="form-control" id="paymentModeSearch" name="paymentModeSearch" [(ngModel)]="paymentModeSearch"
          (change)=paymentModeSearchHandler()>
          <option value="">All</option>
          <option value="Credit Note" (click)="cnFunction()">Credit note</option>
          <option value="Debit Note" (click)="dnFunction()">Debit note</option>
        </select>
      </div>
    </div> -->

        <div class="col-md-3">
            <div class="form-group">
                <label>Note Type</label>
                <ng-multiselect-dropdown [placeholder]="'Select Payment Mode'" [settings]="dropdownSettings" [data]="dropdownListPaymentMode" [(ngModel)]="selectedItemsPaymentMode" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>

            </div>
        </div>



    </div>
    <br>
    <!-- <div style="margin-left: 500px;margin-bottom: -30px;" class="row col-12"> <b>Total Invoice Value :
      {{this.totalInvoiceValue | number}} </b> </div> -->
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
            <thead>
                <tr align="center">
                    <th># <br>
                        <p style="margin: 0px;">&nbsp;</p>
                    </th>
                    <th (click)="onClick('transactionRefNo','2','s')">CN / DN Ref No <br>
                        <p style="margin: 0px;">&nbsp;</p>
                    </th>
                    <th (click)="onClick('invoiceNo','3','s')">Invoice NO <br>
                        <p style="margin: 0px;">&nbsp;</p>
                    </th>
                    <th (click)="onClick('invoiceBaseValue','4','i')">Inv Base Amt <br>
                        <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;">&nbsp; {{totalInvoiceBaseAmt |number:'1.2-2'}} </p>
                    </th>
                    <th (click)="onClick('sst','5','i')">Sst <br>
                        <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;">&nbsp;{{totalSstAmt |number:'1.2-2'}}</p>
                    </th>
                    <th (click)="onClick('totalInvoiceValue','6','i')">Total Inv Amt <br>
                        <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;">&nbsp; {{totalInvoiceAmt |number:'1.2-2'}}
                        </p>
                    </th>
                    <th (click)="onClick('retentionAmount','7','i')">Retention Amt <br>
                        <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;">&nbsp; {{totalRetentionAmt |number:'1.2-2'}}
                        </p>
                    </th>
                    <th (click)="onClick('paymentReceived','8','i')">CN / DN AMOUNT <br>
                        <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;">&nbsp; {{totalCollectionReceived |number:'1.2-2'}}
                        </p>
                    </th>
                    <th (click)="onClick('paymentDateDisplay','9','s')">CN / DN Date <br>
                        <p style="margin: 0px;">&nbsp;</p>
                    </th>
                    <th (click)="onClick('outstandingAmount','10','i')">Outstanding Amt <br>
                        <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;">&nbsp; {{totalOutstandingAmt |number:'1.2-2'}}
                        </p>
                    </th>
                    <th (click)="onClick('paymentRefNo','11','s')">Remark <br>
                        <p style="margin: 0px;">&nbsp;</p>
                    </th>
                    <!-- <th>Action</th> -->

                </tr>
            </thead>
            <tbody *ngIf="loading">
                <tr>
                    <td colspan="11">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-grow text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!loading">
                <tr *ngFor="let invoicePaymentHistory of invoicePaymentHistories; let i = index">
                    <td>{{i+1}}</td>
                    <!-- <span > {{i}} </span> -->
                    <td><a style="color: blue;" href="#!" [routerLink]="['/report/invoice/credit-debit-note-list']" (click)="getInvoiceByInvoiceNo(invoicePaymentHistory.invoiceNo,invoicePaymentHistory.transactionRefNo,invoicePaymentHistory.id,
              invoicePaymentHistory.paymentRefNo,invoicePaymentHistory.paymentReceived,invoicePaymentHistory.invoiceTypeId,invoicePaymentHistory.paymentDateDisplay,
              invoicePaymentHistory.sst,invoicePaymentHistory.invoiceBaseValue,invoicePaymentHistory.paymentMode);
              modalDefaultcredit.show()"><u>{{invoicePaymentHistory.transactionRefNo}}</u></a>
                    </td>
                    <td> <a style="color: blue;" href="#!" [routerLink]="['/report/invoice/credit-debit-note-list']" (click)="getInvoiceByInvoiceNo(invoicePaymentHistory.invoiceNo,invoicePaymentHistory.transactionRefNo,invoicePaymentHistory.id,
              invoicePaymentHistory.paymentRefNo,invoicePaymentHistory.paymentReceived,invoicePaymentHistory.invoiceTypeId,invoicePaymentHistory.paymentDateDisplay,
              invoicePaymentHistory.sst,invoicePaymentHistory.invoiceBaseValue,invoicePaymentHistory.paymentMode);
              modalDefault.show()"><u>{{invoicePaymentHistory.invoiceNo}}</u></a>
                    </td>
                    <td style="text-align: right;">{{invoicePaymentHistory.invoiceBaseValue|number:'1.2-2'}}</td>
                    <td style="text-align: right;">{{invoicePaymentHistory.sst|number:'1.2-2'}}</td>
                    <td style="text-align: right;">{{invoicePaymentHistory.totalInvoiceValue|number:'1.2-2'}}</td>
                    <td style="text-align: right;">{{invoicePaymentHistory.retentionAmount|number:'1.2-2'}}</td>


                    <td style="text-align: right;">{{invoicePaymentHistory.paymentReceived|number:'1.2-2'}}</td>
                    <td>{{invoicePaymentHistory.paymentDateDisplay}}</td>
                    <td style="text-align: right;">{{invoicePaymentHistory.outstandingAmount|number:'1.2-2'}}</td>
                    <td>{{invoicePaymentHistory.paymentRefNo}}</td>


                </tr>
            </tbody>
        </table>
    </div>

</app-card>

<app-ui-modal #modalDefault [dialogClass]="'modal-lg'">


    <div class="app-modal-header">
        <h5 class="modal-title">Invoice - {{invoice.invoiceNo}}</h5>
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
        <!-- style="margin-top: 25px; margin-left: 20px;" -->



    </div>


    <div class="app-modal-body">
        <div>
            <div *ngIf="loadingModal">
                <div class="d-flex justify-content-center">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div *ngIf="!loadingModal">


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" class="form-control" [value]="this.invoice.stateName" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>District</label>
                            <input type="text" class="form-control" [value]="this.invoice.districtName" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Invoice Date</label>
                            <input type="text" class="form-control" [value]="this.invoice.invoiceDateDisplay" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Invoice Base Value</label>
                            <input type="text" class="form-control" [value]="this.invoice.invoiceBaseValue|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>SST Amount</label>
                            <input type="text" class="form-control" [value]="this.invoice.sst|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Total Invoice Value</label>
                            <input type="text" class="form-control" [value]="this.invoice.totalInvoiceValue|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Retention Amount</label>
                            <input type="Text" class="form-control" id="retentionAmount1" name="retentionAmount1" [value]="this.invoice.retentionAmount|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Outstanding Amount</label>
                            <input type="text" class="form-control" [value]="this.invoice.outstandingAmount|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Collection Adjusted</label>
                            <input type="Text" class="form-control" [value]="invoice.paymentReceived|number:'1.2-2'" readonly />

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Debit Note Adjusted</label>
                            <input type="Text" class="form-control" [value]="debitNoteTotal|number:'1.2-2'" readonly />

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Credit Note Adjusted</label>
                            <input type="Text" class="form-control" [value]="creditNoteTotal|number:'1.2-2'" readonly />

                        </div>
                    </div>
                </div>
                <hr>
                <div class="row table-responsive">
                    <b> Invoice Transaction History </b>
                    <table class="table table-bordered text-center">
                        <thead>
                            <th> Collection Adjusted Date </th>
                            <th> Collection Adjusted </th>
                            <th> Bank Ref No </th>
                            <th> Collection Ref No </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of invoice.invoicePaymentHistory">
                                <td> {{data.paymentDateDisplay}} </td>
                                <td> {{data.paymentReceived|number:'1.2-2'}} </td>
                                <td> {{data.paymentRefNo}} </td>
                                <td> {{data.transactionRefNo}} </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="app-modal-footer">

        <!-- <button type="button" class="btn btn-primary" (click)="modalDefault.hide()">Back</button> -->
    </div>
</app-ui-modal>

<app-ui-modal #modalDefaultcredit [dialogClass]="'modal-lg'">


    <div class="app-modal-header">
        <h5 class="modal-title">Ref No - {{this.refNo}}</h5>
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDefaultcredit.hide()"><span aria-hidden="true">&times;</span></button>
        <!-- style="margin-top: 25px; margin-left: 20px;" -->

        <a class="float-right" style="margin-top: 0px; position: relative; left: 400px; bottom: 37px;" href="#!" [routerLink]="['/report/invoice/credit-debit-note-list']"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172" (click)="downloadPdfInv()" style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#e74c3c">
                        <path d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                        </path>
                    </g>
                </g>
            </svg></a>

    </div>


    <div class="app-modal-body">
        <div>
            <div *ngIf="loadingModal">
                <div class="d-flex justify-content-center">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div *ngIf="!loadingModal">
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>CN/DN Amount{{gSSTsetter}}</label>
                            <input type="text" class="form-control" [value]="this.paymentHistorySearch.paymentReceived" readonly />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>CN/DN Date</label>
                            <input type="text" class="form-control" [value]="this.paymentHistorySearch.paymentDate " readonly />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Remark</label>
                            <input type="text" class="form-control" [value]="this.paymentHistorySearch.paymentRefNo" readonly />
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" class="form-control" [value]="this.invoice.stateName" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>District</label>
                            <input type="text" class="form-control" [value]="this.invoice.districtName" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Invoice Date</label>
                            <input type="text" class="form-control" [value]="this.invoice.invoiceDateDisplay" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Invoice Base Value</label>
                            <input type="text" class="form-control" [value]="this.invoice.invoiceBaseValue|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>SST Amount</label>
                            <input type="text" class="form-control" [value]="this.invoice.sst|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Total Invoice Value</label>
                            <input type="text" class="form-control" [value]="this.invoice.totalInvoiceValue|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Retention Amount</label>
                            <input type="Text" class="form-control" id="retentionAmount" name="retentionAmount" [value]="this.invoice.retentionAmount|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Outstanding Amount</label>
                            <input type="text" class="form-control" [value]="this.invoice.outstandingAmount|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Debit Note Amount</label>
                            <input type="Text" class="form-control" [value]="invoice.debitNoteEntry|number:'1.2-2'" readonly />

                        </div>
                    </div>

                </div>
                <hr>
                <!-- <div class="row">
          <b> Invoice Payment History </b>
          <table class="table table-bordered text-center">
            <thead>
              <th> Collection Adjusted Date </th>
              <th> Collection Adjusted </th>
              <th> Bank Ref No </th>
              <th> Collection Ref No </th>
            </thead>
            <tbody>
              <tr *ngFor="let data of invoice.invoicePaymentHistory">
                <td> {{data.paymentDateDisplay}} </td>
                <td> {{data.paymentReceived|number:'1.2-2'}} </td>
                <td> {{data.paymentRefNo}} </td>
                <td> {{data.transactionRefNo}} </td>
              </tr>
            </tbody>
          </table>
       
        </div> -->
            </div>
        </div>
    </div>

</app-ui-modal>