<div class="row">
    <div class="col-md-12">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header"> </div>
            <div class="modal-body">
                <b>Do You Want To {{modalBodyContent}}?</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-md btn-tall btn-wide" (click)="c();closeModal()">Yes</button>
                <button type="button" class="btn btn-danger btn-md btn-tall btn-wide" (click)="c()">No</button>
            </div>
        </ng-template>
        <app-card cardTitle="Create Page" [options]="false">
            <div>
                <div *ngIf="loading">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="!loading">
                    <form>
                        <!-- <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control form-control-primary" id="state" name="state"
                                        [value]="stateFilter" (change)="handleForm($event)">
                                        <option value="">Select</option>
                                        <option *ngFor="let state of stateFilterDatas" value="{{state.stateName}}">
                                            {{state.stateName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>District</label>
                                    <select class="form-control form-control-primary" id="district" name="district"
                                        [value]="districtFilter" (change)="handleForm($event)">
                                        <option value="">Select</option>
                                        <option *ngFor="let district of districtFilterDatas"
                                            value="{{district.districtName}}">
                                            {{district.districtName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Clinic Type</label>
                                    <select class="form-control form-control-primary" id="clinicTypeId"
                                        name="clinicTypeId" [value]="clinicTypeId" (change)="handleForm($event)">
                                        <option value=0>Select</option>
                                        <option value=1>
                                            PKD</option>
                                        <option value=2>PPD</option>

                                    </select>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-4">
                                <!-- <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control form-control-primary" id="state" name="state" [value]="stateFilter" (change)="handleForm($event)">
                                        <option value="HEAD QUARTERS">HEAD QUARTERS</option> -->
                                <!-- <option *ngFor="let state of stateFilterDatas" value="{{state.stateName}}">
                                            {{state.stateName}}</option> -->
                                <!-- </select>
                                </div> -->
                                <div class="form-group">
                                    <label>State</label>
                                    <input class="form-control" name="" value='HEAD QUARTERS' readonly disabled="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- <div class="form-group">
                                    <label>District</label>
                                    <select class="form-control form-control-primary" id="district" name="district" [value]="districtFilter" (change)="handleForm($event)">
                                        <option value="HEAD QUARTERS">HEAD QUARTERS</option> -->
                                <!-- <option *ngFor="let district of districtFilterDatas" value="{{district.districtName}}">
                                            {{district.districtName}}</option> -->
                                <!-- </select>
                                </div> -->
                                <div class="form-group">
                                    <label>District</label>
                                    <input class="form-control" name="" value='HEAD QUARTERS' readonly disabled="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- <div class="form-group">
                                    <label>Clinic Type</label>
                                    <select class="form-control form-control-primary" id=clinicTypeId name=clinicTypeId [value]=clinicTypeId (change)="handleForm($event)">
                                        <option value="3">HQ</option>

                                    </select>
                                </div> -->
                                <div class="form-group">
                                    <label>Clinic Type</label>
                                    <input class="form-control" name="" value='HQ' readonly disabled="true">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                                <div class="col-lg-6">
                                    <label>clinic</label>
                                    <select class="form-control form-control-primary" id="clinic" name="clinic"
                                            [value]="clinicFilter" (change)="handleForm($event)">
                                            <option value="">Select</option>
                                            <option *ngFor="let clinic of clinicFilterDatas" value="{{clinic.clinicName}}">
                                                {{clinic.clinicName}}</option>
                                    </select>
                                </div>
                        </div>  -->
                        <br>
                        <div class="row">
                            <!-- <div class="form-group"></div> -->
                            <div class="col-lg-4" style="width: 33%;">
                                <label>Type Of Expenses</label>
                                <input type="text" class="form-control form-control-primary" placeholder="Enter Expense Type here" name="typeOfExpenses" [(ngModel)]="typeOfExpenses" />
                            </div>
                            <!-- </div> -->
                            <!-- <div class="form-group"> -->
                            <div class="col-lg-4;" style="width: 33%;">
                                <label>Reference</label>
                                <input type="text" class="form-control form-control-primary" placeholder="Enter Reference here" name="reference" [(ngModel)]="reference" />
                            </div>
                            <!-- </div> -->
                            <!-- <div class="form-group"> -->
                            <div class="col-lg-4" style="width: 33%;">
                                <label>Site Concession Elements (RM)</label>
                                <input type="number" class="form-control form-control-primary" placeholder="Enter Site Concession Elements here" name="confirmityExpenses" onwheel="this.blur()" [(ngModel)]="concessionElements" />
                            </div>
                            <!-- </div> -->
                        </div>
                        <br><br>
                        <div class="row">
                            <div *ngIf="this.fin11datas.length == 0">
                                <button class="btn btn-info btn-md btn-tall btn-wide" style="float: inline-start;" (click)="addfin11data()">Add</button>
                                &nbsp;&nbsp;
                                <button class="btn btn-success btn-md btn-tall btn-danger" style="float: inline-start;" (click)="navToList()">Back</button>
                            </div><br>
                        </div>

                        <div *ngIf="this.fin11datas.length == 0">

                        </div>

                    </form>
                </div>
            </div>



        </app-card>

        <app-card *ngIf="this.fin11datas.length != 0" cardTitle="" [options]="false">
            <div class="row">
                <div class="col-lg-12">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Type Of Expenses</th>
                                <th>Reference</th>
                                <th> Concession Elements (RM)</th>
                                <!-- <th>Action</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of fin11datas;let i=index">
                                <td>{{i+1}}</td>
                                <td style="text-align: start;">{{data.typeOfExpenses}}</td>
                                <td>{{data.reference}}</td>
                                <td style="text-align: right;">{{data.concessionElements|number:'1.2-2'}}</td>
                                <!-- <td>
                                    <button class="btn btn-success btn-md btn-tall btn-wide" (click)="removeFin11data(i)">Delete</button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
                <br>
                <div class="col-lg-12">
                    <button class="btn btn-success btn-md btn-tall btn-wide" [disabled]="disableCreate" (click)="openModal(content,'Create')">Create
                        FIN 11</button> &nbsp;&nbsp;
                    <button class="btn btn-success btn-md btn-tall btn-danger" [disabled]="disableCreate" (click)="navToList()">Back</button>
                </div>
            </div>

        </app-card>
    </div>
</div>