<div class="row">

  <div class="col-md-12">


    <!-- <app-card cardTitle="Pending Payments" cardClass="card-datatable" [options]="false">

   
    </app-card> -->
    <app-card cardTitle="TOTAL COLLECTION RECEIVING NOW: {{sum|number:'1.2-2'}} " cardClass="card-datatable"
      [options]="false">
      <!-- <button type="button" class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;" (click)="modalDefault.show()"> Add District</button> -->
      <!-- <label  >TOTAL AMOUNT PAID:{{sum| currency:'&#8377;'}}</label> -->
      <!-- <button class="btn btn-danger float-right" style="margin-top: -50px;z-index: 50; margin-left:-50px;z-index: 50 ;" (click)="finalPush()" >PAY</button> -->
      <!-- <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;" (click)="resetFilter()">Reset
        All</button> -->
      <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;margin-right: 110px;"
        (click)="filterFunction()">Go </button>
      <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;" (click)="resetFilter()">Reset
        All </button>

      <button class="btn btn-danger float-right" [disabled]="clicked "
        style="margin-top: -50px;z-index: 50;margin-right: 230px;" (click)="finalPush()">Pay </button>

      <!-- <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;" (click)="resetFilter()">Reset
      All</button> -->
      <!-- <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;" (click)="filterFunction()"> Go </button> -->

      <form>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>State</label>
              <select class="form-control form-control-primary" id="state" name="state" [value]="stateFilter"
                (change)="handleForm($event)">
                <option value="">Select</option>
                <option *ngFor="let state of stateFilterDatas" value="{{state.stateName}}">
                  {{state.stateName}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>District</label>
              <select class="form-control form-control-primary" id="district" name="district" [value]="districtFilter"
                (change)="handleForm($event)">
                <option value="">Select</option>
                <option *ngFor="let district of districtFilterDatas" value="{{district.districtName}}">
                  {{district.districtName}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Clinic Type</label>
              <select class="form-control form-control-primary" id="clinicType" name="clinicType"
                [value]="clinicTypeFilter" (change)="handleForm($event)" [disabled]="loading">
                <option value="">All</option>
                <option value="1">PKD</option>
                <option value="2">PPD</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">

            <label><strong> COLLECTION DATE</strong> </label>
            <input type="date" class="form-control " id="selectedDate" [disabled]="dateEnabler" [max]="this.curDate"
              onkeydown="return false" (click)="curDatePicker()" (change)="datePicker()" [(ngModel)]="this.selectedDate" [min]="minDate"
              name="selectedDate">
          </div>


          <div class="col-md-5">

          </div>
          <div class="col-md-3">
            <label style="margin-top: 5px;  font-size: 15px;"><strong>TOTAL COLLECTION :
                {{sum|number:'1.2-2'}}</strong></label>
          </div>





        </div>
      </form>

      <br>
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-striped table-bordered table-hover">
          <thead>
            <tr align="center">
              <th></th>
              <!-- <th>#</th> -->

              <!-- <th>MMYYYY</th> -->
              <th>District</th>
              <th>Inv Type</th>
              <th>Inv No</th>
              <!-- <th>Invoice Date</th> -->
              <th>Total Inv Amt</th>
              <!-- <th>Amount Received</th> -->
              <th>Outstanding Amt</th>
              <th>Collection Receiving Now</th>
              <th>Bank Ref No</th>

            </tr>
          </thead>
          <tbody *ngIf="loading">
            <tr>
              <td colspan="7">
                <div class="d-flex justify-content-center">
                  <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="spinner-grow text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </td>
            </tr>

          </tbody>
          <tbody *ngIf="!loading">
            <tr *ngFor="let data of filterDatas;let i = index ">
              <td> <input type="checkbox" (change)="onTick(data.id,$event )" value="{{data.enableListData}}"> </td>

              <!-- <td>{{i+1}}</td> -->
              <!-- <td>{{group.MMYYYY}}</td> -->
              <!-- <td>{{data.id}}</td> -->
              <td>{{data.districtName}}</td>
              <td>{{data.invoiceTypeName}}</td>
              <td>{{data.invoiceNo}}</td>

              <!-- <td>{{data.invoiceDate}}</td> -->
              <td style="text-align: right;">{{data.totalInvoiceValue|number:'1.2-2'}}</td>
              <!-- <td>{{group.AmtReceived}}</td> -->
              <td style="text-align: right;">{{data.outstandingAmount|number:'1.2-2'}}</td>
              <!-- <td>{{data.paymentReceived}}</td> -->
              <td> <input type="number" (input)="amountFunc($event, data.id)" [max]="data.outstandingAmount"
                  (change)="amountFunc1($event, data.id)" value="{{data.amountReceived}}"
                  [disabled]="data.disableCollectionAmount"  (keydown.arrowup)="false" (keydown.arrowdown)="false"
                   (keydown)="$event.keyCode !== 69 && $event.keyCode !== 189 && $event.keyCode !== 187 && $event.keyCode !== 107 && $event.keyCode !== 109" > </td>


              <td> <input type="text" (change)="amountRefFunc($event, data.id)" value="{{data.amountRefNo}}"
                  [disabled]="data.disableCollectionRefNo"> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
<app-ui-modal #modalDefault>
  <div class="app-modal-header">
    <h5 class="modal-title">District Details</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <form>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>State Name</label>
            <input type="text" class="form-control" placeholder="State Name" name="stateName">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>District Code</label>
            <input type="text" class="form-control" placeholder="District Code" name="districtCode">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>District Name</label>
            <input type="text" class="form-control" placeholder="District Name" name="districtName">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Active</label>
            <select class="form-control form-control-primary" name="isActive">
              <option value="Y">Yes</option>
              <option value="N">No</option>

            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modalDefault.hide()">Close</button>
    &nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" (click)="modalDefault.hide()">Save</button>
  </div>
</app-ui-modal>

<!-- mine -->
<style>
  /* /disable number arrow */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}
</style>