<app-card cardTitle="Invoice Report - Total Invoice Value :
{{this.totalinvoiceAmt|number:'1.2-2'}}" cardClass="card-datatable" [options]="false">
    <div *ngIf="hideFilters" class="row">
        <div class="col-lg-9">
            <div *ngIf="this.dashboardSource == 'RA'">
                <div *ngIf="this.stateFilter == ''">
                    <b>Revenue Contribution - {{invoiceTypeFilter}} - RM {{totalInvoiceValue|number:'1.2-2'}}</b>
                </div>
                <div *ngIf="this.stateFilter != '' && this.districtFilter == ''">
                    <b>Revenue Contribution - {{invoiceTypeFilter}} - RM {{totalInvoiceValue|number:'1.2-2'}} for
                        {{stateFilter}} state</b>
                </div>
                <div *ngIf="this.stateFilter != '' && this.districtFilter != ''">
                    <b>Revenue Contribution - {{invoiceTypeFilter}} - RM {{totalInvoiceValue|number:'1.2-2'}} for {{stateFilter}}
                        state /
                        {{districtFilter}} district</b>
                </div>
            </div>
            <div *ngIf="this.dashboardSource == 'AR-WOR'">
                <div *ngIf="this.stateFilter == ''">
                    <b>Accounts Receivables Without Retention - {{invoiceTypeFilter}} - RM
                        {{totalOutstandingAmount|number:'1.2-2'}}</b>
                </div>
                <div *ngIf="this.stateFilter != '' && this.districtFilter == ''">
                    <b>Accounts Receivables Without Retention - {{invoiceTypeFilter}} - RM
                        {{totalOutstandingAmount|number:'1.2-2'}} for
                        {{stateFilter}} state</b>
                </div>
                <div *ngIf="this.stateFilter != '' && this.districtFilter != ''">
                    <b>Accounts Receivables Without Retention - {{invoiceTypeFilter}} - RM
                        {{totalOutstandingAmount|number:'1.2-2'}} for
                        {{stateFilter}} state /
                        {{districtFilter}} district</b>
                </div>
            </div>
            <div *ngIf="this.dashboardSource == 'AR-WR'">
                <div *ngIf="this.stateFilter == ''">
                    <b>Accounts Receivables With Retention - {{invoiceTypeFilter}} - RM
                        {{totalOutstandingAmount|number:'1.2-2'}}</b>
                </div>
                <div *ngIf="this.stateFilter != '' && this.districtFilter == ''">
                    <b>Accounts Receivables With Retention - {{invoiceTypeFilter}} - RM {{totalOutstandingAmount|number:'1.2-2'}}
                        for
                        {{stateFilter}} state</b>
                </div>
                <div *ngIf="this.stateFilter != '' && this.districtFilter != ''">
                    <b>Accounts Receivables With Retention - {{invoiceTypeFilter}} - RM {{totalOutstandingAmount|number:'1.2-2'}}
                        for
                        {{stateFilter}} state /
                        {{districtFilter}} district</b>
                </div>
            </div>
            <div *ngIf="this.dashboardSource == 'RE'">
                <div *ngIf="this.stateFilter == ''">
                    <b>Accounts Retention - {{invoiceTypeFilter}} - RM {{totalRetentionAmount|number:'1.2-2'}}</b>
                </div>
                <div *ngIf="this.stateFilter != '' && this.districtFilter == ''">
                    <b>Accounts Retention - {{invoiceTypeFilter}} - RM {{totalRetentionAmount|number:'1.2-2'}} for
                        {{stateFilter}} state</b>
                </div>
                <div *ngIf="this.stateFilter != '' && this.districtFilter != ''">
                    <b>Accounts Retention - {{invoiceTypeFilter}} - RM {{totalRetentionAmount|number:'1.2-2'}} for {{stateFilter}}
                        state /
                        {{districtFilter}} district</b>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-success float-right" style="margin-top: -50px;z-index: 50;">PDF</button>
        </div>
    </div>
    <div *ngIf="!hideFilters" class="row">
        <div class="col-md-12">
            <a (click)="downloadPdf()" class=" float-right" style="margin-top: -50px;margin-right: 270px;z-index: 50;" href="#!" [routerLink]="['/report/invoice/invoice-list']"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172" style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#e74c3c">
                            <path d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                            </path>
                        </g>
                    </g>
                </svg></a>
            <a (click)="generateExcel()" class="float-right" style="margin-top: -50px;margin-right: 210px;z-index: 50;;" href="#!" [routerLink]="['/report/invoice/invoice-list']"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172" style=" fill:#000000;">
                    <g transform="">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g id="original-icon" fill="#2ecc71">
                                <path d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                                </path>
                            </g>
                            <path d="" fill="none"></path>
                            <path d="" fill="none"></path>
                        </g>
                    </g>
                </svg> </a>
            <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;margin-right: 110px;" (click)="filterFunction()">Go </button>
            <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;" (click)="resetFilter()">Reset
                All</button>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>State</label>
                <select class="form-control " id="state" name="state" [value]="stateFilter" (change)="handleForm($event)" [disabled]="loading">
                    <option value="">All</option>
                    <option *ngFor="let state of stateFilterDatas" [selected]="stateFilter==state.stateName" value="{{state.stateName}}">
                        {{state.stateName}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>District</label>
                <select class="form-control " id="district" name="district" [value]="districtFilter" (change)="handleForm($event)" [disabled]="loading">
                    <option value="">All</option>
                    <option *ngFor="let district of districtFilterDatas" [selected]="districtFilter==district.districtName" value="{{district.districtName}}">
                        {{district.districtName}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Clinic Type</label>
                <select class="form-control " id="clinicType" name="clinicType" [value]="clinicTypeFilter" (change)="handleForm($event)" [disabled]="loading">
                    <option value="">All</option>
                    <option value="1">PKD</option>
                    <option value="2">PPD</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Invoice Type</label>
                <!-- <select class="form-control " id="invoiceType" name="invoiceType" [value]="invoiceTypeFilter"
          (change)="handleForm($event)" [disabled]="loading">
          <option value="">All</option>
          <option *ngFor="let invoiceType of invoiceTypes" [selected]="invoiceTypeFilter==invoiceType.invoiceTypeName"
            value="{{invoiceType.invoiceTypeName}}">
            {{invoiceType.invoiceTypeName}}</option>
        </select> -->
                <ng-multiselect-dropdown [placeholder]="'Select Invoice Type'" [settings]="dropdownSettings" [data]="dropdownListInvoiceType" [(ngModel)]="selectedItemsInvoiceType" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" [disabled]="loading">
                </ng-multiselect-dropdown>
            </div>
        </div>


        <div class="form-group col-md-3">
            <label>Year</label>
            <ng-multiselect-dropdown [placeholder]="'Select Year'" [settings]="dropdownSettings" [data]="dropdownListYear" [(ngModel)]="selectedItemsYear" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" [disabled]="loading">
            </ng-multiselect-dropdown>
            <!-- <select class="form-control form-control-primary" id="Year" name="Year" [value]="year"
        (change)="handleForm($event)">
        <option value="" selected>All</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
      </select> -->
        </div>

        <div class="form-group col-md-3">
            <label>Month</label>
            <ng-multiselect-dropdown [placeholder]="'Select Month'" [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" [disabled]="loading">
            </ng-multiselect-dropdown>
            <!-- <select class="form-control form-control-primary" id="Month" name="Month" [value]="month"
        (change)="handleForm($event)">
        <option value="" selected>All</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>

      </select> -->
        </div>

        <!-- <div class="col-md-3">
        <div class="form-group">
          <label>Invoice Date From</label>
          <input type="date" class="form-control" id="invoiceDateFrom" (change)="invoiceDateFromHandler()"
            onkeydown="return false" name="invoiceDateFrom" [(ngModel)]="this.invoiceDateFrom" [disabled]="loading"
            required />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Invoice Date To</label>
          <input type="date" class="form-control" id="invoiceDateTo" name="invoiceDateTo"
            (change)="invoiceDateFromHandler()" [(ngModel)]="this.invoiceDateTo" onkeydown="return false"
            [min]="this.invoiceDateFrom" [disabled]="this.invoiceDateFrom == '' || this.loading == true ? true : false"
            required />
        </div>
      </div>     -->
        <!-- <div class="col">
      <div class="form-group">
        <label>Retention</label>
          <select class="form-control form-control-primary" id="retention" name="retention" [value]="retentionFilter"
            (change)="handleForm($event)" [disabled]="loading">
            <option value="">All</option>
            <option value="1">Invoices With Retetention</option>
            <option value="2">Invoices W/O Retetention</option>
          </select>
      </div>
    </div> -->
        <div class="col-md-3">
            <div class="form-group">
                <label>SST</label>
                <select class="form-control " id="sst" name="sst" [value]="SSTFilter" (change)="handleForm($event)" [disabled]="loading">
                    <option value="">All</option>
                    <option value="1">With SST Amt</option>
                    <option value="2">W/O SST Amt</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Outstanding</label>
                <select class="form-control " id="outstanding" name="outstanding" [value]="outstandingFilter" (change)="handleForm($event)" [disabled]="loading">
                    <option value="">All</option>
                    <option value="1">Including Retentions</option>
                    <option value="2">Excluding Retentions</option>
                </select>
            </div>
        </div>



        <div class="table-responsive">
            <table *ngIf="!hideFilters" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr align="center">
                        <th># <br>
                            <p style="margin: 0px;">&nbsp;</p>
                            <p style="margin: 0px;">&nbsp;</p>
                        </th>
                        <th (click)="onClick('invoiceNo','2','s')">Inv No <br>
                            <p style="margin: 0px;">&nbsp;</p>
                            <p style="margin: 0px;">&nbsp;</p>
                        </th>
                        <th (click)="onClick('invoiceTypeName','3','s')">Inv Type <br>
                            <p style="margin: 0px;">&nbsp;</p>
                            <p style="margin: 0px;">&nbsp;</p>
                        </th>
                        <th (click)="onClick('invoiceBaseValue','4','i')">Inv Base Amt <br>
                            <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;">&nbsp;{{totalBaseVale |number:'1.2-2'}}
                            </p>
                            <p style="margin: 0px;">&nbsp;</p>
                        </th>
                        <th (click)="onClick('sst','5','i')">Sst <br>
                            <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;"> &nbsp;{{totalSST |number:'1.2-2'}}
                            </p>
                            <p style="margin: 0px;">&nbsp;</p>
                        </th>
                        <th (click)="onClick('totalInvoiceValue','6','i')">Total Inv Amt <br>
                            <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;">&nbsp;{{totalinvoiceAmt |number:'1.2-2'}} </p>
                            <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;">&nbsp; {{totInvPercentage}} </p>
                        </th>
                        <th (click)="onClick('retentionAmount','7','i')">Balance Retention Amt <br>
                            <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;"> &nbsp;{{totalRetenAmt |number:'1.2-2'}}
                            </p>
                            <p style="color:  rgb(156, 53, 6);text-align: right;margin: 0px;"> &nbsp;{{retPercentage }}</p>
                        </th>
                        <th (click)="onClick('paymentReceived','8','i')">Collection Amt <br>
                            <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;">&nbsp;{{totalCollectAmt |number:'1.2-2'}}
                            </p>
                            <p style="color:  rgb(38, 199, 38);text-align: right;margin: 0px;">&nbsp;{{collPercentage }}
                            </p>
                        </th>
                        <th (click)="onClick('outstandingAmount','9','i')">Outstanding Amt <br>
                            <p style="color:  rgb(28, 57, 187);text-align: right;margin: 0px;">&nbsp;{{totalOutAmt |number:'1.2-2'}}
                            </p>
                            <p style="color:  rgb(255, 0, 0);text-align: right;margin: 0px;">&nbsp;{{outPercentage }}
                            </p>
                        </th>

                        <th (click)="onClick('age','10','i')">Days Outstanding <br>
                            <p style="margin: 0px;">&nbsp;</p>
                            <p style="margin: 0px;">&nbsp;</p>
                        </th>

                        <!-- <th>Payment Status</th>
            <th>Action</th> -->

                    </tr>
                </thead>
                <tbody *ngIf="loading">
                    <tr>
                        <td colspan="9">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-success" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-dark" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="!loading">

                    <tr *ngFor="let invoice of this.invoices;let i = index ">
                        <td>{{i+1}}</td>
                        <td> <a style="color: blue;" href="#!" [routerLink]="['/report/invoice/invoice-list']" (click)="getInvoiceById(invoice.id);modalDefault.show()"><u>{{invoice.invoiceNo}}</u></a> </td>
                        <td>{{invoice.invoiceTypeName}}</td>
                        <td style="text-align: right;">{{invoice.invoiceBaseValue|number:'1.2-2'}}</td>
                        <td style="text-align: right;">{{invoice.sst|number:'1.2-2'}}</td>
                        <td style="text-align: right;">{{invoice.totalInvoiceValue|number:'1.2-2'}}</td>
                        <!-- <td style="text-align: right;">{{invoice.retentionAmount|number:'1.2-2'}}</td> -->
                        <!-- <ng-template #popTemplate><img [src]='invoice.retentionAmount' /></ng-template> -->
                        <td [matTooltip]=invoice.retentionAmount matTooltipPosition="right" style="text-align: right;">{{invoice.netRetentionAmount|number:'1.2-2'}}</td>
                        <td style="text-align: right;">{{invoice.paymentReceived|number:'1.2-2'}}</td>

                        <!-- <td *ngIf="this.outstandingFilter== '' " style="text-align: right;">{{invoice.totalOutstandingAmt|number:'1.2-2'}}</td> -->
                        <td *ngIf="this.outstandingFilter1== '1' || this.outstandingFilter1== '' " style="text-align: right;">
                            {{invoice.outstandingAmount|number:'1.2-2'}}</td>
                        <td *ngIf="this.outstandingFilter1== '2' " style="text-align: right;">
                            {{invoice.totalInvoiceValueWoRetention|number:'1.2-2'}}</td>
                        <!-- <td *ngIf="this.outstandingFilter== '1' || this.outstandingFilter== '' "style="text-align: right;">{{invoice.totalInvoiceValueWoRetention|number:'1.2-2'}}</td>  -->

                        <td style="text-align: right;">{{invoice.age|number}}</td>
                        <!-- <td>{{invoice.paymentStatus}}</td>
            <td><button class="btn btn-primary btn-sm"
                (click)="getInvoiceById(invoice.id);modalDefault.show()">View</button>
            </td> -->
                    </tr>
                </tbody>
            </table>
            <table *ngIf="hideFilters" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Invoice Number</th>
                        <th>Clinic Type</th>
                        <th *ngIf="this.dashboardSource == 'RA'">Invoice Value</th>
                        <th *ngIf="this.dashboardSource == 'AR-WOR'||this.dashboardSource == 'AR-WR'">Outstanding Amount</th>
                        <th *ngIf="this.dashboardSource == 'RE'">Retention Amount </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of this.invoices;let i = index ">
                        <td>{{i+1}}</td>
                        <td>{{invoice.invoiceNo}}</td>
                        <td>{{invoice.clinicTypeCode}}</td>
                        <td *ngIf="this.dashboardSource == 'RA'">
                            {{invoice.totalInvoiceValue|number:'1.2-2'}}</td>
                        <td *ngIf="this.dashboardSource == 'AR-WOR'||this.dashboardSource == 'AR-WR'">
                            {{invoice.outstandingAmount|number:'1.2-2'}}</td>
                        <td *ngIf="this.dashboardSource == 'RE'">{{invoice.retentionAmount|number:'1.2-2'}}</td>
                        <td><button class="btn btn-primary btn-sm" (click)="getInvoiceById(invoice.id);modalDefault.show()">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="row">
    <div class="col-lg-3" style="align-self: flex-start;">
      <img id="pdfImage" #pdfImage src="assets/images/qmsInvoiceLogo.png" width="150px" height="150px"> </div>
  </div> -->
</app-card>

<app-ui-modal #modalDefault [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h5 *ngIf="!loadingModal" class="modal-title">{{invoice.invoiceNo}} - {{invoice.invoiceTypeName}}</h5>
        <button class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <div>
            <div *ngIf="loadingModal">
                <div class="d-flex justify-content-center">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div *ngIf="!loadingModal">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" class="form-control" [value]="this.invoice.stateName" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>District</label>
                            <input type="text" class="form-control" [value]="this.invoice.districtName" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Invoice Date</label>
                            <input type="text" class="form-control" [value]="this.invoice.invoiceDateDisplay" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Invoice Base Value</label>
                            <input type="text" class="form-control" [value]="this.invoice.invoiceBaseValue|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>SST Amount</label>
                            <input type="text" class="form-control" [value]="this.invoice.sst|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Total Invoice Value</label>
                            <input type="text" class="form-control" [value]="this.invoice.totalInvoiceValue|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Balance Retention Amount</label>
                            <input type="Text" class="form-control" id="retentionAmount" name="retentionAmount" [value]="this.invoice.retentionAmount|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Outstanding Amount</label>
                            <input type="text" class="form-control" [value]="this.invoice.outstandingAmount|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Collection Adjusted</label>
                            <input type="Text" class="form-control" [value]="this.invoice.paymentReceived|number:'1.2-2'" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Debit Note Adjusted</label>
                            <input type="Text" class="form-control" [value]="debitNoteTotal|number:'1.2-2'" readonly />

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Credit Note Adjusted</label>
                            <input type="Text" class="form-control" [value]="creditNoteTotal|number:'1.2-2'" readonly />

                        </div>
                    </div>
                </div>
                <hr>
                <div class="row table-responsive">
                    <b> Invoice Transaction History </b>
                    <table class="table table-bordered text-center">
                        <thead>
                            <th> Collection Adjusted Date </th>
                            <th> Collection Adjusted </th>
                            <th> Bank Ref No </th>
                            <th> Collection Ref No </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of invoice.invoicePaymentHistory">
                                <td> {{data.paymentDateDisplay}} </td>
                                <td> {{data.paymentReceived|number:'1.2-2'}} </td>
                                <td> {{data.paymentRefNo}} </td>
                                <td> {{data.transactionRefNo}} </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="col-md-4">
            <div class="form-group">
              <label>Amount Received date</label>
              <input type="text" class="form-control" [value]="this.invoice.paymentDateDisplay" readonly>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Amount Received</label>
              <input type="Text" class="form-control" [value]="this.invoice.paymentReceived|number:'1.2-2'" readonly />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Amount Received Ref No</label>
              <input type="Text" class="form-control" [value]="this.invoice.paymentRefNo" readonly>
            </div>
          </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="app-modal-footer">

        <!-- <button class="btn btn-primary btn-sm" (click)="modalDefault.hide()">Back</button> -->
    </div>
</app-ui-modal>