<app-card cardTitle="Renatl Equipment Information :" cardClass="card-datatable" [options]="false">
    
    <div class="row">
        <div class="col-md-12">
            <a (click)="downloadPdf()" class=" float-right" style="margin-top: -50px;margin-right: 270px;z-index: 50;" href="#!" [routerLink]="['/special-approval/rental-equipment-info']"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172" style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#e74c3c">
                            <path d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                            </path>
                        </g>
                    </g>
                </svg></a>
            <a (click)="generateExcel()" class="float-right" style="margin-top: -50px;margin-right: 210px;z-index: 50;;" href="#!" [routerLink]="['/special-approval/rental-equipment-info']"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172" style=" fill:#000000;">
                    <g transform="">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g id="original-icon" fill="#2ecc71">
                                <path d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                                </path>
                            </g>
                            <path d="" fill="none"></path>
                            <path d="" fill="none"></path>
                        </g>
                    </g>
                </svg> </a>
            <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;margin-right: 110px;" (click)='getData()'>Go </button>
            <button class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;">Reset
                All</button>
        </div>
    </div>

    <div class="row">

        <div class="col-md">
            <div class="form-group">
                <label>State</label>
                <select class="form-control " id="state" name="state" [value]="stateFilter" (change)="handleForm($event)" [disabled]="loading">
                    <option value="">All</option>
                    <option *ngFor="let state of stateFilterDatas" [selected]="stateFilter==state.stateName" value="{{state.stateName}}">
                        {{state.stateName}}</option>
                </select>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label>District</label>
                <select class="form-control " id="district" name="district" [value]="districtFilter" (change)="handleForm($event)" [disabled]="loading">
                    <option value="">All</option>
                    <option *ngFor="let district of districtFilterDatas" [selected]="districtFilter==district.districtName" value="{{district.districtName}}">
                        {{district.districtName}}</option>
                </select>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label>Clinic Type</label>
                <select class="form-control " id="clinicType" name="clinicType" [value]="clinicTypeFilter" (change)="handleForm($event)" [disabled]="loading">
                    <option value="">All</option>
                    <option value="1">PKD</option>
                    <option value="2">PPD</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>From Year</label>
               
                <input class = "form-control" [(ngModel)]='fromYear' type='number'>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>From Month</label>
               
                <input class = "form-control" [(ngModel)]='fromMonth' type='month'>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>To Year</label>
               
                <input class = "form-control" [(ngModel)]='toYear' type='number'>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>To Month</label>
               
                <input class = "form-control" [(ngModel)]='toMonth' type='month'>
            </div>
        </div>

    </div>
    <br>


       
    <div>

        <div class="table-responsive">
            <!-- <table *ngIf="!hideFilters" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover"> -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="text-align: center;">Sno</th>
                        <th style="text-align: center;">Year</th>
                        <th style="text-align: center;">Month</th>
                        <th style="text-align: center;">Rental Revenue (RM)<br>
                        {{rentalInfogroupByTotal.toFixed(2)}}
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="loading">
                    <tr>
                        <td colspan="9">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-success" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-dark" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="!loading">
                    <tr *ngFor='let data of rentalList.slice().reverse();let i = index;'>
                        <td style="text-align: center;">{{i +1}}</td>
                        <td style="text-align: center;">{{data.year}}</td>
                        <td style="text-align: left;">{{monthNames[data.month - 1]}}</td>
                        <!-- <td style="text-align: left;">{{data.month}}</td> -->
                        <td style="text-align: right;"><a href="#" (click)="$event.preventDefault();openModal(groupByState,data)">{{data.totalRentalCharges.toFixed(2)}}</a></td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
    
    
</app-card>

<ng-template #groupByState let-c="close" let-d="dismiss">
    
    <div class="modal-header">
        <div>
          <h5><b>Rental Revenue - Year {{selectedYear}} - Month of {{selectedMonth}}</b></h5>
        </div>
  
        <div class="col-lg-3">
          <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span
              aria-hidden="true">&times;</span></button>
          <a class="float-right" href="#!" (click)="downloadPdfGroupByState()" [routerLink]="['/special-approval/rental-equipment-info']"><svg
              xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48"
              viewBox="0 0 172 172" style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#e74c3c">
                  <path
                    d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                  </path>
                </g>
              </g>
            </svg></a>
          <a class="float-right" href="#!" (click)="generateExcelGroupByState()" [routerLink]="['/special-approval/rental-equipment-info']"><svg
              xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48"
              viewBox="0 0 172 172" style=" fill:#000000;">
              <g transform="">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                  stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                  font-family="none" font-weight="none" font-size="none" text-anchor="none"
                  style="mix-blend-mode: normal">
                  <path d="M0,172v-172h172v172z" fill="none"></path>
                  <g id="original-icon" fill="#2ecc71">
                    <path
                      d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                    </path>
                  </g>
                  <path d="" fill="none"></path>
                  <path d="" fill="none"></path>
                </g>
              </g>
            </svg> </a>
        </div>
    </div>

    <div class="modal-body">
        <div class="table-resposive">
            <table datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th>Year</th>
                        <th>Month</th>
                        <th>State</th>
                        <th>Rental Revenue (RM)<br>
                        {{rentalInfogroupByStateTotal.toFixed(2)}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of rentalInfogroupByState.slice().reverse();let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.year}}</td>
                        <td style="text-align: left;" >{{monthNames[data.month - 1]}}</td>
                        <!-- <td style="text-align: left;" >{{data.month}}</td> -->
                        <td>{{data.stateName}}</td>
                        <td style="text-align: right;"><a href="#" (click)="$event.preventDefault();openModal(groupByDistrict,data)">{{data.totalRentalCharges.toFixed(2)}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>

<ng-template [ngStyle]="districtStyle?{'filter' : 'blur(4px)'}:{'filter' : 'blur(0)'}"  #groupByDistrict let-c="close" let-d="dismiss">
    
    <div class="modal-header">
        <div>
          <h5><b>Rental Revenue - Year {{selectedYear}} - Month of {{selectedMonth}} - {{selectedState}} State</b></h5>
        </div>
  
        <div class="col-lg-3">
          <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span
              aria-hidden="true">&times;</span></button>
          <a class="float-right" href="#!" (click)="downloadPdfGroupByDistrict()" [routerLink]="['/special-approval/rental-equipment-info']"><svg
              xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48"
              viewBox="0 0 172 172" style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#e74c3c">
                  <path
                    d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                  </path>
                </g>
              </g>
            </svg></a>
          <a class="float-right" href="#!" (click)="generateExcelGroupByDistrict()" [routerLink]="['/special-approval/rental-equipment-info']"><svg
              xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48"
              viewBox="0 0 172 172" style=" fill:#000000;">
              <g transform="">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                  stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                  font-family="none" font-weight="none" font-size="none" text-anchor="none"
                  style="mix-blend-mode: normal">
                  <path d="M0,172v-172h172v172z" fill="none"></path>
                  <g id="original-icon" fill="#2ecc71">
                    <path
                      d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                    </path>
                  </g>
                  <path d="" fill="none"></path>
                  <path d="" fill="none"></path>
                </g>
              </g>
            </svg> </a>
        </div>
    </div>

    <div class="modal-body">
        <div class="table-resposive">
            <table datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th>State</th>
                        <th>District</th>
                        <th>Rental Revenue (RM) <br>
                        {{rentalInfogroupByDistrictTotal.toFixed(2)}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of rentalInfogroupByDistrict.slice().reverse();let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.stateName}}</td>
                        <td>{{data.districtName}}</td>
                        <td style="text-align: right;"><a href="#" (click)="$event.preventDefault();openModal(groupByBeNumber,data);districtStyle = true">{{data.rentalCharges.toFixed(2)}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>

<ng-template #groupByBeNumber let-c="close" let-d="dismiss">
    
    <div class="modal-header">
        <div>
          <h5><b>Rental Revenue - Year {{selectedYear}} - Month of {{selectedMonth}} - {{selectedState}} State / {{selectedDistrict}} District</b></h5>
        </div>
  
        <div class="col-lg-3">
          <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span
              aria-hidden="true">&times;</span></button>
          <a class="float-right" href="#!" (click)="downloadPdfGroupByClinic()" [routerLink]="['/transaction/fin-02b-equipment/fin-02b-create-equipment']"><svg
              xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48"
              viewBox="0 0 172 172" style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#e74c3c">
                  <path
                    d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                  </path>
                </g>
              </g>
            </svg></a>
          <a class="float-right" href="#!" (click)="generateExcelGroupByClinic()" [routerLink]="['/transaction/fin-02b-equipment/fin-02b-create-equipment']"><svg
              xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48"
              viewBox="0 0 172 172" style=" fill:#000000;">
              <g transform="">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                  stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                  font-family="none" font-weight="none" font-size="none" text-anchor="none"
                  style="mix-blend-mode: normal">
                  <path d="M0,172v-172h172v172z" fill="none"></path>
                  <g id="original-icon" fill="#2ecc71">
                    <path
                      d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                    </path>
                  </g>
                  <path d="" fill="none"></path>
                  <path d="" fill="none"></path>
                </g>
              </g>
            </svg> </a>
        </div>
    </div>

    <div class="modal-body">
        <div class="table-resposive">
            <table datatable [dtOptions]="dtOptions3" [dtTrigger]="dtTrigger3" class="table table-striped table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th>Clinic Code</th>
                        <th>Clinic Name</th>
                        <th>Clinic Type</th>
                        <th>BE Number</th>
                        <th>Rental Revenue (RM)<br>
                        {{rentalInfogroupByBeNumberTotal.toFixed(2)}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of rentalInfogroupByBeNumber.slice().reverse();let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.clinicCode}}</td>
                        <td>{{data.clinicName}}</td>
                        <td>{{data.clinicTypeCode}}</td>
                        <td>{{data.beNumber}}</td>
                        <td style="text-align: right;">{{data.rentalCharges.toFixed(2)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>

