<app-card [options]="false" *ngIf="!loadingCard">
    <div class="row">

        <div class="col-md-12">
            <ng-template #monthContent let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h5 class="modal-title">MonthWise split up for {{this.quater}} - {{this.year}} {{(this.stateName!=""?" for "+this.stateName +" State ":"")}} {{(this.circleCode!=""?" / "+this.circleCode +" Circle ":"")}} {{(this.districtName!=""?" / "+this.districtName +
                        " District":"")}}</h5>
                    <button class="close basic-close btn-sm float-right" aria-label="Close" style="outline: none;" (click)="c()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                        <tr class="table-active">
                                            <th class="text-center">Month</th>
                                            <th class="text-center">Amount</th>

                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="loadingMonthTable">
                                        <tr>
                                            <td colspan="7">
                                                <div class="d-flex justify-content-center">
                                                    <div class="spinner-grow text-primary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                    <div class="spinner-grow text-success" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                    <div class="spinner-grow text-danger" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                    <div class="spinner-grow text-dark" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="!loadingMonthTable">
                                        <tr *ngFor="let invoice of this.invoiceByMonth">
                                            <td class="text-left">
                                                <a placement="top" style="color:#000" href="#!" [routerLink]="['/dashboard-progress']" (click)="openmonth2Modal(content,invoice.month,invoice.year,invoice.monthName)"><u style="color: blue;">
                                                        {{invoice.monthName}} </u> </a> </td>
                                            <td class="text-right">{{invoice.outstandingAmount | number}} </td>
                                        </tr>

                                        <tr class="table-active">
                                            <th class="text-left">Total </th>
                                            <th class="text-right">{{ this.totalInvoiceByMonth | number}} </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </ng-template>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <div class="col-lg-9">
                        <div *ngIf="this.retentionFlag =='WITHOUT-RETENTION'">
                            <div *ngIf="this.stateName == ''">
                                <b>{{modalBodyContent}} - {{newYear}}  Accounts Receivable Without Retention : RM</b><b style="color: purple;">
                                    {{invoiceTableTotal|number}}</b>
                            </div>
                            <div *ngIf="this.stateName != '' && this.circleCode == ''">
                                <b>{{modalBodyContent}} - {{newYear}}  Accounts Receivable Without Retention ({{stateName}} State) : RM</b><b style="color: purple;">
                                    {{invoiceTableTotal|number}}</b>
                            </div>
                            <div *ngIf="this.stateName != '' && this.circleCode != '' && this.districtName == ''">
                                <b>{{modalBodyContent}} - {{newYear}}  Accounts Receivable Without Retention ({{stateName}} State / {{circleCode}}
                                    Circle) : RM</b><b style="color: purple;">
                                    {{invoiceTableTotal|number}}</b>
                            </div>
                            <div *ngIf="this.stateName != '' && this.circleCode != '' && this.districtName != ''">
                                <b>{{modalBodyContent}} - {{newYear}} -Accounts Receivable Without Retention ({{stateName}} State / {{circleCode}}
                                    Circle / {{districtName}}
                                    District) : RM</b><b style="color: purple;">
                                    {{invoiceTableTotal|number}}</b>
                            </div>
                        </div>
                        <div *ngIf="this.retentionFlag =='WITH-RETENTION'">
                            <div *ngIf="this.stateName == ''">
                                <b>{{modalBodyContent}} - {{newYear}} Accounts Receivable With Retention : RM</b><b style="color: purple;">
                                    {{invoiceTableTotal|number}}</b>
                            </div>
                            <div *ngIf="this.stateName != '' && this.circleCode == ''">
                                <b>{{modalBodyContent}} - {{newYear}} Accounts Receivable With Retention ({{stateName}} State) : RM</b><b style="color: purple;">
                                    {{invoiceTableTotal|number}}</b>
                            </div>
                            <div *ngIf="this.stateName != '' && this.circleCode != '' && this.districtName == ''">
                                <b>{{modalBodyContent}} - {{newYear}}  Accounts Receivable With Retention ({{stateName}} State / {{circleCode}}
                                    Circle) : RM</b><b style="color: purple;">
                                    {{invoiceTableTotal|number}}</b>
                            </div>
                            <div *ngIf="this.stateName != '' && this.circleCode != '' && this.districtName != ''">
                                <b>{{modalBodyContent}} - {{newYear}}  Accounts Receivable With Retention ({{stateName}} State / {{circleCode}}
                                    Circle / {{districtName}}
                                    District) : RM</b><b style="color: purple;">
                                    {{invoiceTableTotal|number}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span aria-hidden="true">&times;</span></button>
                        <a class="float-right" href="#!" [routerLink]="['/dashboard-progress']"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" (click)="downloadPdf()" width="48" height="48" viewBox="0 0 172 172" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#e74c3c">
                                        <path d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                                        </path>
                                    </g>
                                </g>
                            </svg></a>
                        <a class="float-right" href="#!" [routerLink]="['/dashboard-progress']"><svg xmlns="http://www.w3.org/2000/svg" (click)="generateExcel()" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172" style=" fill:#000000;">
                                <g transform="">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <g id="original-icon" fill="#2ecc71">
                                            <path d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                                            </path>
                                        </g>
                                        <path d="" fill="none"></path>
                                        <path d="" fill="none"></path>
                                    </g>
                                </g>
                            </svg> </a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th *ngIf="this.stateName == '' && this.districtName == ''"> State </th>
                                    <th *ngIf="(this.stateName != '' && this.districtName == '') || (this.stateName == '' && this.districtName == '')">
                                        District </th>
                                    <th> Clinic Type</th>
                                    <th> Invoice Number </th>
                                    <th> Outstanding Amount </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of invoiceTableData;let i=index">
                                    <td> {{i+1}} </td>
                                    <td *ngIf="this.stateName == '' && this.districtName == ''"> {{data.stateName}} </td>
                                    <td *ngIf="(this.stateName != '' && this.districtName == '') || (this.stateName == '' && this.districtName == '')">
                                        {{data.districtName}} </td>
                                    <td> {{data.clinicTypeCode}}</td>
                                    <td> <a style="color: blue;" href="#!" [routerLink]="['/dashboard-progress']" (click)="openModal1(content1,data.id)"><u>{{data.invoiceNo}}</u></a> </td>
                                    <td style="text-align: right;">
                                        <!-- <div *ngIf="this.retentionFlag =='WITHOUT-RETENTION'">
                      {{data.outstandingAmount|number}}
                    </div>
                    <div *ngIf="this.retentionFlag =='WITH-RETENTION'">
                      {{data.outstandingAmount+data.retentionAmount|number}}
                    </div> -->
                                        <div>
                                            {{data.outstandingAmount|number}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </ng-template>
            <ng-template #content1 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <div class="col-lg-9">
                        <h5 class="modal-title">{{invoice.invoiceNo}} - {{invoice.invoiceTypeName}}</h5>
                    </div>
                    <div class="col-lg-3">
                        <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control" [value]="this.invoice.stateName" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>District</label>
                                <input type="text" class="form-control" [value]="this.invoice.districtName" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Invoice Date</label>
                                <input type="text" class="form-control" [value]="this.invoice.invoiceDateDisplay" readonly />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Invoice Base Value</label>
                                <input type="text" class="form-control" [value]="this.invoice.invoiceBaseValue|number" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>SST Amount</label>
                                <input type="text" class="form-control" [value]="this.invoice.sst|number" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Total Invoice Value</label>
                                <input type="text" class="form-control" [value]="this.invoice.totalInvoiceValue|number" readonly />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Retention Amount</label>
                                <input type="Text" class="form-control" id="retentionAmount|number" name="retentionAmount" [value]="this.invoice.retentionAmount" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="color: purple;font-weight: bolder;">Outstanding Amount</label>
                                <input style="color: purple;font-weight: bolder;" type="text" class="form-control" [value]="this.invoice.outstandingAmount|number" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Collection Adjusted</label>
                                <input type="Text" class="form-control" [value]="this.invoice.paymentReceived|number" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Debit Note Adjusted</label>
                                <input type="Text" class="form-control" [value]="debitNoteTotal|number:'1.2-2'" readonly />

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Credit Note Adjusted</label>
                                <input type="Text" class="form-control" [value]="creditNoteTotal|number:'1.2-2'" readonly />

                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="row table-responsive">
                        <b> Invoice Payment History </b>
                        <table class="table table-bordered text-center">
                            <thead>
                                <th> Collection Received Date </th>
                                <th> Collection Received </th>
                                <th> Bank Ref No </th>
                                <th> Collection Ref No </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of invoice.invoicePaymentHistory">
                                    <td> {{data.paymentDateDisplay}} </td>
                                    <td> {{data.paymentReceived|number}} </td>
                                    <td> {{data.paymentRefNo}} </td>
                                    <td> {{data.transactionRefNo}} </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="col-md-4">
                <div class="form-group">
                  <label>Amount Received date</label>
                  <input type="text" class="form-control" [value]="this.invoice.paymentDateDisplay" readonly>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Amount Received</label>
                  <input type="Text" class="form-control" [value]="this.invoice.paymentReceived|number" readonly />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Amount Received Ref No</label>
                  <input type="Text" class="form-control" [value]="this.invoice.paymentRefNo" readonly>
                </div>
              </div> -->
                    </div>
                </div>
                <br>
                <div></div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="modal-footer">
                </div>
            </ng-template>
            <div class="col-md-12 text-center" style="margin-bottom:20px; font-weight: bold;">
                <h5 class="text-center">{{this.headingState}} Accounts Receivable till {{this.currentDate}} - RM {{this.totalInvoiceAmount | number}} {{(this.stateName!=""?" for "+this.stateName +" State ":"")}} {{(this.circleCode!=""?" / "+this.circleCode +" Circle ":"")}}
                    {{(this.districtName!=""?" / "+this.districtName + " District":"")}} </h5>
            </div>

            <div class="col-md-8 float-left">
                <div>
                    <input type="radio" name="green" [disabled]="this.disableRetentionFlag" [(ngModel)]="retentionFlag" (change)="onRetentionChange('WITH-RETENTION')" value="WITH-RETENTION" /> <span style=" font-weight: bold;">
                        Including Retentions</span><br> <br>
                    <input type="radio" name="blue" [disabled]="this.disableRetentionFlag" [(ngModel)]="retentionFlag" (change)="onRetentionChange('WITHOUT-RETENTION')" value="WITHOUT-RETENTION"> <span style=" font-weight: bold;">
                        Excluding Retentions</span>
                </div>
                <button type="button" class="btn btn-info float-left btn-sm" (click)="backButton()" style="margin-left: 250px;"><i class="fas fa-arrow-circle-left"></i></button>
                <div style="margin-left: 50%;"> Amount in '000</div>
                <canvas baseChart id="chart" (chartClick)="clickFn($event)" [datasets]="pieChartData" [labels]="chartLabels" [chartType]="pieChartType" [options]="(screenWidth<1000?pieChartOptionsMin:pieChartOptions)"></canvas>

            </div>

            <div class="col-md-4 float-right">
                <table class="table table-bordered">
                    <tbody>
                        <tr class="table-active">
                            <th>Invoice Type</th>
                            <th>Amount in RM </th>
                        </tr>
                    </tbody>
                    <tbody *ngIf="loadingInvoiceTable">
                        <tr>
                            <td colspan="7">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-danger" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-dark" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!loadingInvoiceTable">
                        <tr *ngFor="let invoice of invoiceTypes;let i=index">
                            <!-- <td><a style="color:#000" href="#!" (click)="openModal(content,invoice.invoiceTypeName)" -->
                            <td>
                                <a placement="top" [ngbTooltip]="invoice.desc" #tooltip="ngbTooltip" triggers="manual" (mouseover)="tooltip.open()" (mouseleave)="tooltip.close()" style="color:#000" href="#!" [routerLink]="['/dashboard-progress']" (click)="openModal(content,invoice.invoiceTypeName)"><u style="color: blue;">{{invoice.invoiceTypeName}}</u></a>
                            </td>
                            <td class="text-right">{{invoice.outstandingAmount|number}}</td>
                        </tr>
                        <tr class="table-active">
                            <td style="font-size:16px"><b>Total</b></td>
                            <td class="text-right" style="font-size:16px"><b>{{totalInvoiceAmount|number}}</b></td>
                        </tr>
                        <!-- <tr><td>FIN 01</td><td class="text-right">4195</td></tr>   
                        <tr><td>FIN 02</td><td class="text-right">4205</td></tr>  
                        <tr><td>FIN 02A</td><td class="text-right">3525</td></tr>  
                        <tr><td>FIN 02B</td><td class="text-right">4160</td></tr>  
                        <tr><td>FIN 04</td><td class="text-right">4090</td></tr>   
                        <tr><td>FIN 05A</td><td class="text-right">4400</td></tr>  
                        <tr><td>FIN 11</td><td class="text-right">4115</td></tr>  
                        <tr><td>Total</td><td class="text-right">28690</td></tr>  -->
                    </tbody>
                </table>

                <table class="table table-bordered text-center table-striped ageingTable">

                    <!-- <tr><td class="bgWhite">2020</td><td class="text-left">Q1</td><td class="text-right">{{this.totalInvoiceAmount|number}}</td></tr>    -->
                    <tbody *ngIf="loadingQuaterTable">
                        <tr>
                            <td colspan="7" class="bgWhite">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-danger" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-dark" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                    <tbody *ngIf="!loadingQuaterTable">
                        <tr *ngFor="let invoice of invoiceByQuaters; let i = index">
                            <!-- <td *ngIf="i==0" class="bgWhite" [attr.rowspan]="invoiceByQuaters.length">{{invoice.year}}</td> -->
                            <td *ngIf="invoice.outstandingAmount != 0" class="bgWhite">{{invoice.year}}</td>
                            <td *ngIf="invoice.outstandingAmount != 0" class="text-left" style="color: blue;">
                                <a href="#!" [routerLink]="['/dashboard-progress']" style="color: blue;" (click)="openMonthContent(monthContent);openReceivablesByMonth(invoice.quater,invoice.year);modalDefault.show()">
                                    <u>{{invoice.quater}}</u></a>
                            </td>
                            <td *ngIf="invoice.outstandingAmount != 0" class="text-right">{{invoice.outstandingAmount|number}}</td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>



    </div>


    <!-- <div class="row">
    <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <tbody>
          <tr class="table-active">
            <th class="text-center">January - 2020</th>
            <th class="text-center">February - 2020</th>
            <th class="text-center">March - 2020</th>
            <th class="text-center">April - 2020</th>
            <th class="text-center">May - 2020</th>
          </tr>
        </tbody>
        <tbody>
          <td class="text-center">{{370893 | number}} </td>
          <td class="text-center">{{358499 | number}}</td>
          <td class="text-center">{{862977 | number}}</td>
          <td class="text-center">{{2565422 | number}}</td>
          <td class="text-center">{{7452939 | number}}</td>
        </tbody>
        </table>
        </div>
    </div>
  </div> -->
</app-card>
<app-card [options]="false" *ngIf="loadingCard">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</app-card>

<app-ui-modal #modalDefault [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h5 class="modal-title">MonthWise split up for {{this.quater}} - {{this.year}} {{(this.stateName!=""?" for "+this.stateName +" State ":"")}} {{(this.circleCode!=""?" / "+this.circleCode +" Circle ":"")}} {{(this.districtName!=""?" / "+this.districtName + " District":"")}}</h5>
        <button class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                            <tr class="table-active">
                                <th class="text-center">Month</th>
                                <th class="text-center">Amount</th>

                            </tr>
                        </tbody>
                        <tbody *ngIf="loadingMonthTable">
                            <tr>
                                <td colspan="7">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-success" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-danger" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-dark" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!loadingMonthTable">
                            <tr *ngFor="let invoice of this.invoiceByMonth">
                                <td class="text-left">{{invoice.monthName}} </td>
                                <td class="text-right">{{invoice.outstandingAmount | number}} </td>
                            </tr>

                            <tr class="table-active">
                                <th class="text-left">Total </th>
                                <th class="text-right">{{ this.totalInvoiceByMonth | number}} </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

</app-ui-modal>
<!-- <div class="col-sm-12">
      <app-card cardTitle="Labels" [options]="false">
        <div class="mb-4"><ngb-progressbar [showValue]="true" [value]="25"></ngb-progressbar></div>
      </app-card>
    </div> -->