<div class="row">
    <div class="col-lg-12">
        <app-card cardTitle="Credit Note Penalty Adjustment" cardClass="card-datatable" [options]="false">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>State</label>
                            <select class="form-control form-control-primary" id="state" name="state" [value]="stateFilter" (change)="handleForm($event)">
                                <option value="">Select</option>

                                <option *ngFor="let state of stateFilterDatas" value="{{state.stateName}}">
                                    {{state.stateName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>District</label>
                            <select class="form-control form-control-primary" id="district" name="district" [value]="districtFilter" (change)="handleForm($event)">
                                <option value="">Select</option>
                                <option *ngFor="let district of districtFilterDatas" value="{{district.districtName}}">
                                    {{district.districtName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Clinic Type</label>
                            <select class="form-control form-control-primary" id="clinicType" name="clinicType" [value]="clinicType" (change)="handleForm($event)">
                                <option value="">All</option>
                                <option value="1">PKD</option>
                                <option value="2">PPD</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Quarter</label>
                        <select class="form-control form-control-primary" id="quater" name="quater" [value]="quater" (change)="handleForm($event)">
                            <option value="">All</option>
                            <option value="Q1">Q1</option>
                            <option value="Q2">Q2</option>
                            <option value="Q3">Q3</option>
                            <option value="Q4">Q4</option>


                        </select>

                    </div>
                    <div class="form-group col-md-4">
                        <label>Year</label>
                        <select class="form-control form-control-primary" id="year" name="year" [value]=year (change)="handleForm($event)">
                            <option value="">All</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <button class="btn btn-primary" style="margin-top: 25px; margin-left: 20px;" (click)="filterFunction()">Go</button>
                            <button class="btn btn-primary" style="margin-top: 25px; margin-left: 20px;" (click)="resetFilter()">Reset
                                All</button>
                        </div>
                    </div>
                </div>
            </form>
        </app-card>

        <app-card cardClass="card-datatable" [options]="false">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th> State</th>
                            <th> District </th>
                            <th> Clinic Type </th>
                            <th> FIN Ref No</th>
                            <th> Total Penalty </th>
                            <th> Remarks/Comment </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="loading">
                        <tr>
                            <td colspan="7">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-danger" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-dark" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!loading">
                        <tr *ngFor="let data of filterDatas;let i = index">
                            <td> {{i+1}} </td>
                            <td> {{data.stateName}}</td>
                            <td> {{data.districtName}} </td>
                            <td> {{data.clinicTypeCode}} </td>
                            <td> {{data.code}} </td>
                            <td style="text-align: right;"> {{data.totalPenalty}} </td>
                            <td> {{data.remarks}} </td>
                            <td>
                                <div><button type="button" class="btn btn-primary" (click)="update(data)"> Update
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>