/* You can add global styles to this file, and also import other style files */

@import "scss/style";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sum {
    background-color: #C5C5C5;
    text-align: center;
    padding: 10px;
}