<div class="row">
    <div class="col-lg-12">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- <h4 class="modal-title" id="modal-basic-title">Hi there!</h4> -->
                <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button> -->
            </div>
            <div class="modal-body">
                <b>Do You Want To {{modalBodyContent}}?</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-md btn-tall btn-wide"
                    (click)="c();closeModal()">Yes</button>
                <button type="button" class="btn btn-danger btn-md btn-tall btn-wide" (click)="c()">No</button>
            </div>
        </ng-template>
        <app-card cardClass="card-datatable" [options]="false">
            <div>
                <div *ngIf="loading">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="!loading">
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <tr>
                                    <td><b> INVOICE FOR MAINTENANCE CHARGES </b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <b> INVOICE TO:</b>
                            <table style="width: 100%;
                    border: 2px solid black;
                    padding: 6px;">
                                <tr>
                                    <td style="text-align: left;border-right: white;border-bottom: white;">
                                        <b>{{cimsHistoryFin02b.clinicTypeCode=='PKD' ||
                                            cimsHistoryFin02b.clinicTypeCode=='PPD' ? 'PKD / PPD': 'PKB / PPB'}}</b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-bottom: white;">
                                        {{cimsHistoryFin02b.clinicTypeCode}}
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="text-align: left;border-right: white;border-top: white;border-bottom: white;">
                                        <b>DISTRICT </b>
                                    </td>
                                    <td
                                        style="border-left: white;border-right: white;border-top: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td
                                        style="text-align: start;border-left: white;border-top: white;border-bottom: white;">
                                        {{cimsHistoryFin02b.districtName}}
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td
                                        style="text-align: left;border-right: white;border-top: white;border-bottom: white;">
                                        <b>ADDRESS </b>
                                    </td>
                                    <td
                                        style="border-left: white;border-right: white;border-top: white;border-bottom: white;">
                                        <b>:</b>
                                    </td>
                                    <td
                                        style="text-align: start;border-left: white;border-top: white;border-bottom: white;">
                                        {{districtAddress}}
                                    </td>
                                </tr> -->

                                <tr>
                                    <td style="text-align: left;border-right: white;border-top: white;">
                                        <b>MONTH/YEAR </b>
                                    </td>
                                    <td style="border-left: white;border-right: white;border-top: white;">
                                        <b>:</b>
                                    </td>
                                    <td style="text-align: left;border-left: white;border-top: white;">
                                        {{monthYear}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-3">
                            <br>
                        </div>
                        <div class="col-lg-3">
                            <b>FORM FIN 02-B</b>
                            <table style="width: 100%;
                    border: 2px solid black;
                    padding: 6px;">
                                <tr>
                                    <td style="text-align: left;"><b>DOC REF:</b></td>
                                    <td style="text-align: right;"><b>{{docRef}}</b></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;"><b>DATE:</b></td>
                                    <td style="text-align: right;"><b>{{date}}</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th>{{cimsHistoryFin02b.clinicTypeCode=='PKD'? 'PKD / PPD': 'PKB / PPB'}} NAME</th>
                                    <th>REFERENCE</th>
                                    <th>GROSS CHARGES (RM)</th>
                                    <th>PENALTY (RM)</th>
                                    <th>NET CHARGES PAYABLE (RM)</th>
                                </tr>
                                <tr>
                                    <td><a style="color: blue;" href="#!"
                                            (click)="openModal1(template,$event,cimsHistoryFin02b)"><u>
                                                {{cimsHistoryFin02b.clinicTypeCode}} -
                                                {{cimsHistoryFin02b.districtName}} </u></a>
                                    </td>
                                    <td> BASE FEE 02B </td>
                                    <td style="text-align: right;"> {{cimsHistoryFin02b.totalEbeValue|number:'1.2-2'}}
                                    </td>
                                    <td> - </td>
                                    <td style="text-align: right;"> {{cimsHistoryFin02b.totalEbeValue|number:'1.2-2'}}
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div *ngIf="enabler">
                        <div class="alert alert-info">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            Please Wait Till Your Transaction Is Being Processed
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="spinner-grow text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div id="loading-mask">
                        </div>


                    </div>
                    <div style="padding-top: 15px;">
                        <button class="btn btn-success btn-md btn-tall btn-wide" [disabled]="disableCreate"
                            (click)="openModal(content,'Create')">Create
                            FIN02B</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger btn-md btn-tall btn-wide" [disabled]="disableCreate"
                            (click)="navToList()">Cancel/Exit</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <button class="btn btn-warning btn-md btn-tall btn-wide" (click)="navToList()">Pdf</button> -->
                    </div>
                </div>
            </div>
        </app-card>

    </div>
</div>

<ng-template #template let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div>
            <h5><b>FIN 02-B Equipment Count for</b></h5>
            <h6 *ngFor='let tmp of equipmentCount'> {{ tmp.stateName }} State / {{ tmp.districtName }} District / {{
                tmp.clinicTypeCode }} / {{ tmp.period }} Period / {{ tmp.year}} year</h6>
        </div>

        <div class="col-lg-3">
            <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;text-align: right;"
                (click)="c()"><span aria-hidden="true">&times;</span>
            </button>
            <!-- <a class="float-right" href="#!"><svg
            xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48"
            viewBox="0 0 172 172" style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
              stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
              font-family="none" font-weight="none" font-size="none" text-anchor="none"
              style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g fill="#e74c3c">
                <path
                  d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                </path>
              </g>
            </g>
          </svg></a>
        <a class="float-right" href="#!"><svg
            xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48"
            viewBox="0 0 172 172" style=" fill:#000000;">
            <g transform="">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g id="original-icon" fill="#2ecc71">
                  <path
                    d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                  </path>
                </g>
                <path d="" fill="none"></path>
                <path d="" fill="none"></path>
              </g>
            </g>
          </svg> </a> -->
        </div>
    </div>

    <div class="modal-body">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th> Existing Equipment</th>
                        <th> Added & Active </th>
                        <th> Removed/Deactivated </th>
                        <th> Total Equipment </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of equipmentCount; let i = index">
                        <td>{{ i+1 }}</td>
                        <td style="text-align: right;"> <a style="color: blue;" href="#!"
                                (click)="openModal2(template1,$event,data)"><u>{{ data.numberofExistingBE }}</u></a>
                        </td>
                        <td style="text-align: right;"> <a style="color: blue;" href="#!"
                                (click)="openModal2(template2,$event,data)"><u> {{ data.numberOfSa7 }} </u></a></td>
                        <td style="text-align: right;"> <a style="color: blue;" href="#!"
                                (click)="openModal2(template3,$event,data)"><u> {{ data.noOfInactiveExistingBE
                                    }}</u></a></td>
                        <td style="text-align: right;"> <a style="color: blue;" href="#!"
                                (click)="openModal2(template4,$event,data)"><u> {{ data.totalEbe }}</u></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">

    </div>

</ng-template>

<ng-template #template1 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div>
            <h5><b>FIN 02-B Equipment List -Existing Data</b></h5>
            <h6 *ngFor='let tmp of equipmentCount'> {{ tmp.stateName }} State / {{ tmp.districtName }} District / {{
                tmp.clinicTypeCode }} / {{ tmp.period }} Period / {{ tmp.year}} year</h6>
        </div>

        <div class="col-lg-3">
            <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span
                    aria-hidden="true">&times;</span></button>
            <a class="float-right" href="#!" (click)="equipmentListDownloadPdf($event)"><svg
                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172"
                    style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#e74c3c">
                            <path
                                d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                            </path>
                        </g>
                    </g>
                </svg></a>
            <a class="float-right" href="#!" (click)="equipmentListGenerateExcel($event)"><svg
                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172"
                    style=" fill:#000000;">
                    <g transform="">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g id="original-icon" fill="#2ecc71">
                                <path
                                    d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                                </path>
                            </g>
                            <path d="" fill="none"></path>
                            <path d="" fill="none"></path>
                        </g>
                    </g>
                </svg> </a>
        </div>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Be Number</th>
                        <th>Be Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of equipmentList;let i=index">
                        <td> {{ i+1 }} </td>
                        <td> {{ data.benumber }} </td>
                        <td> {{ data.assetName }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<ng-template #template2 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div>
            <h5><b>FIN 02-B Equipment List -Added & Active</b></h5>
            <h6 *ngFor='let tmp of equipmentCount'> {{ tmp.stateName }} State / {{ tmp.districtName }} District / {{
                tmp.clinicTypeCode }} / {{ tmp.period }} Period / {{ tmp.year}} year</h6>
        </div>

        <div class="col-lg-3">
            <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span
                    aria-hidden="true">&times;</span></button>
            <a class="float-right" href="#!" (click)="equipmentListDownloadPdf($event)"><svg
                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172"
                    style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#e74c3c">
                            <path
                                d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                            </path>
                        </g>
                    </g>
                </svg></a>
            <a class="float-right" href="#!" (click)="equipmentListGenerateExcel($event)"><svg
                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172"
                    style=" fill:#000000;">
                    <g transform="">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g id="original-icon" fill="#2ecc71">
                                <path
                                    d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                                </path>
                            </g>
                            <path d="" fill="none"></path>
                            <path d="" fill="none"></path>
                        </g>
                    </g>
                </svg> </a>
        </div>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Be Number</th>
                        <th>Be Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of equipmentList;let i=index">
                        <td> {{ i+1 }} </td>
                        <td> {{ data.benumber }} </td>
                        <td> {{ data.assetName }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<ng-template #template3 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div>
            <h5><b>FIN 02-B Equipment List -Removed & Deactivated</b></h5>
            <h6 *ngFor='let tmp of equipmentCount'> {{ tmp.stateName }} State / {{ tmp.districtName }} District / {{
                tmp.clinicTypeCode }} / {{ tmp.period }} Period / {{ tmp.year}} year</h6>
        </div>

        <div class="col-lg-3">
            <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span
                    aria-hidden="true">&times;</span></button>
            <a class="float-right" href="#!" (click)="equipmentListDownloadPdf($event)"><svg
                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172"
                    style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#e74c3c">
                            <path
                                d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                            </path>
                        </g>
                    </g>
                </svg></a>
            <a class="float-right" href="#!" (click)="equipmentListGenerateExcel($event)"><svg
                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172"
                    style=" fill:#000000;">
                    <g transform="">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g id="original-icon" fill="#2ecc71">
                                <path
                                    d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                                </path>
                            </g>
                            <path d="" fill="none"></path>
                            <path d="" fill="none"></path>
                        </g>
                    </g>
                </svg> </a>
        </div>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Be Number</th>
                        <th>Be Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of equipmentList;let i=index">
                        <td> {{ i+1 }} </td>
                        <td> {{ data.benumber }} </td>
                        <td> {{ data.assetName }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<ng-template #template4 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div>
            <h5><b>FIN 02-B Equipment List</b></h5>
            <h6 *ngFor='let tmp of equipmentCount'> {{ tmp.stateName }} State / {{ tmp.districtName }} District / {{
                tmp.clinicTypeCode }} / {{ tmp.period }} Period / {{ tmp.year}} year</h6>
        </div>

        <div class="col-lg-3">
            <button class="close basic-close btn-sm" aria-label="Close" style="outline: none;" (click)="c()"><span
                    aria-hidden="true">&times;</span></button>
            <a class="float-right" href="#!" (click)="equipmentListTotalDownloadPdf($event)"><svg
                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172"
                    style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#e74c3c">
                            <path
                                d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.66667,78.83333h10.75c5.934,0 10.75,4.816 10.75,10.75c0,5.934 -4.816,10.75 -10.75,10.75h-3.58333v14.33333h-7.16667zM93.16667,78.83333h21.5v7.16667h-14.33333v7.16667h11.46386v7.16667h-11.46386v14.33333h-7.16667zM57.33333,79.00131h11.67383c11.33767,0 16.99284,6.81885 16.99284,15.08919v5.52898c0,8.37067 -5.66716,15.0472 -17.09082,15.0472h-11.57585zM35.83333,86v7.16667h3.58333c1.978,0 3.58333,-1.60533 3.58333,-3.58333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333zM64.5,86.16797v21.33203h4.40918c4.52933,0 9.92415,-1.3732 9.92415,-7.88053v-5.52898c0,-6.55033 -5.33984,-7.92252 -9.82617,-7.92252zM43,129h86v14.33333h-86z">
                            </path>
                        </g>
                    </g>
                </svg></a>
            <a class="float-right" href="#!" (click)="equipmentListTotalGenerateExcel($event)"><svg
                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172"
                    style=" fill:#000000;">
                    <g transform="">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g id="original-icon" fill="#2ecc71">
                                <path
                                    d="M43,14.33333c-7.84216,0 -14.33333,6.49117 -14.33333,14.33333v35.83333c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v35.83333c0,7.91917 6.41417,14.33333 14.33333,14.33333v14.33333c0,7.84216 6.49117,14.33333 14.33333,14.33333h86c7.84216,0 14.33333,-6.49117 14.33333,-14.33333v-93.16667l-35.83333,-35.83333zM43,28.66667h57.33333v28.66667h28.66667v7.16667h-86zM28.84863,78.83333h8.94434l5.19303,12.30371l5.20703,-12.30371h8.93034l-9.08431,17.7627l9.29427,18.07064h-9.04232l-5.30501,-12.52767l-5.27702,12.52767h-9.04232l9.28027,-18.07064zM64.5,78.83333h7.16667v28.66667h14.33333v7.16667h-21.5zM103.84668,78.83333c10.19817,0.29383 10.81999,9.19416 10.81999,10.77799h-6.94271c0,-0.73817 0.12474,-4.99707 -4.00326,-4.99707c-1.25417,0 -4.06428,0.55575 -3.84928,4.01725c0.20783,3.17483 4.38421,4.67423 5.15104,5.01106c1.60533,0.58767 9.55171,4.12789 9.61621,11.35189c0.01433,1.53367 -0.38218,9.5647 -10.65202,9.6722c-11.17283,0.12183 -11.92578,-9.4927 -11.92578,-11.47786h6.9847c0,1.0535 0.08925,6.14709 4.94109,5.75293c2.91683,-0.24367 3.55298,-2.34294 3.65332,-3.90527c0.16483,-2.63017 -2.3454,-4.21131 -4.99707,-5.48698c-3.72667,-1.79167 -9.62069,-3.99362 -9.72819,-10.97396c-0.09317,-6.28517 4.52496,-9.92135 10.93196,-9.74219zM43,129h86v14.33333h-86z">
                                </path>
                            </g>
                            <path d="" fill="none"></path>
                            <path d="" fill="none"></path>
                        </g>
                    </g>
                </svg> </a>
        </div>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th> Be Number</th>
                        <th> Be Name</th>
                        <th> Existing Equipment</th>
                        <th> Added&Active</th>
                        <th> Removed/Deactivated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of equipmentList;let i=index">
                        <td> {{ i+1 }} </td>
                        <td> {{ data.benumber }} </td>
                        <td> {{ data.assetName }} </td>
                        <td style="text-align: center;"> {{ data.cnd1 }} </td>
                        <td style="text-align: center;"> {{ data.cnd2 }} </td>
                        <td style="text-align: center;"> {{ data.cnd3 }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>