<div class="row">

    <div class="col-md-12">

        <app-card cardTitle="Invoice Type" cardClass="card-datatable" [options]="false">
            <button type="button" class="btn btn-primary float-right" style="margin-top: -50px;z-index: 50;"
                (click)="detailPage('')">Add Invoice Type</button>
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Invoice Type Name</th>
                            <th>invoice Type Code</th>
                            <th>Active</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody *ngIf="loading">
                        <tr>
                            <td colspan="5">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-danger" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-dark" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!loading">
                        <tr *ngFor="let invoiceType of invoiceTypes;let i=index">
                            <td>{{ i+1}}</td>
                            <td>{{ invoiceType.invoiceTypeName }}</td>
                            <td>{{ invoiceType.invoiceTypeCode }}</td>
                            <td>{{ (invoiceType.isActive=='Y'?'Yes':'No') }}</td>
                            <td align="center">
                                <button type="button" class="btn btn-info btn-sm" (click)="detailPage(invoiceType)"><i
                                        class="fas fa-edit"></i></button>&nbsp;&nbsp;&nbsp;
                                <!-- <button type="button" class="btn btn-danger btn-sm" (click)="confirmAlert()"> <i
                                        class="fas fa-trash"></i></button> -->
                                <!-- <i class="fas fa-edit"></i>
                      <i class="fas fa-times"></i> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>